In [66]:
import gmaps
import numpy as np
import pandas as pd
import os
import scipy.stats as st
from scipy.stats import chi2_contingency
import matplotlib
matplotlib.use('TkAgg') 
import matplotlib.pyplot as plt
import seaborn as sns
import researchpy
from scipy.stats import chisquare
from scipy.stats import linregress
from sklearn import linear_model
import statsmodels.api as sm
 

# # Google developer API key
# from config import gkey

# # Configure gmaps
# gmaps.configure(api_key=gkey)

#This is the general/common section
path = pd.read_csv('../01._Prospective_Project_Data/1._72199_158097_compressed_indeed_job_dataset.csv/indeed_job_dataset_V3_CSV.csv')
df = pd.DataFrame(path)
df

df.fillna(0) 
# df

path2 = pd.read_csv('../01._Prospective_Project_Data/BLS_Data/OES_Report-V2.csv')
BLS_df = pd.DataFrame(path2)
BLS_df
BLS_df["Annual mean wage(2)"] = BLS_df["Annual mean wage(2)"].str.replace(",","")
BLS_df["Annual mean wage(2)"] = BLS_df["Annual mean wage(2)"].astype("float64")
BLS_df = BLS_df.groupby('State_Two-Letter').agg({"Annual mean wage(2)":"mean"}).reset_index()
# # BLS_df
# # BLS_df = pd.DataFrame(BLS_df).mean()
BLS_df

path3 = pd.read_csv('../01._Prospective_Project_Data/Consumer_Price_Data/CPI_Data_V2_No_DC.csv')
CPI_df = pd.DataFrame(path3)
CPI_df

df_grouped= df.groupby('Location')['Salary_Index'].agg(['mean','median', 'var', 'std', 'sem']).reset_index()
df_grouped = pd.DataFrame(df_grouped)
df_grouped
df_grouped

df_grouped = df_grouped.rename(columns={'Location':'State_Two-Letter'})
df_grouped

merge_df = pd.merge(BLS_df, df_grouped, how='left', on='State_Two-Letter')      
merge_df
merge_df = pd.merge(merge_df, CPI_df, how='left', on='State_Two-Letter')      
merge_df

,State_Two-Letter,Annual mean wage(2),mean,median,var,std,sem,State,costIndex,costRank,groceryCost,housingCost,utilitiesCost,transportationCost,miscCost
0,AK,59290.0,NaN,NaN,NaN,NaN,NaN,Alaska,129.9,45.0,134.2,133.9,154.2,130.8,150.9
1,AL,44930.0,2.529412,2.0,0.889706,0.943242,0.228770,Alabama,89.3,11.0,97.4,71.5,103.3,88.6,90.8
2,AR,42690.0,2.714286,3.0,1.470899,1.212806,0.229199,Arkansas,86.9,2.0,92.0,73.9,91.8,83.6,85.6
3,AZ,50930.0,2.792453,3.0,1.206096,1.098224,0.150853,Arizona,97.0,24.0,96.9,91.7,107.4,109.6,94.7
4,CA,61290.0,3.969176,4.0,2.131761,1.460055,0.039091,California,151.7,49.0,121.4,227.3,117.7,138.9,114.5
5,CO,57690.0,2.963303,3.0,1.350493,1.162107,0.111310,Colorado,105.6,33.0,102.5,119.0,88.4,101.2,102.9
6,CT,62350.0,2.933333,3.0,1.927928,1.388498,0.160330,Connecticut,127.7,43.0,114.2,144.7,128.1,111.8,113.7
7,DC,89800.0,3.107143,3.0,1.549589,1.244825,0.105207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,DE,54370.0,3.470588,3.0,1.639706,1.280510,0.310569,Delaware,108.1,35.0,113.4,98.2,96.5,107.0,101.6
9,FL,47750.0,2.514563,3.0,1.546354,1.243525,0.122528,Florida,97.9,26.0,104.0,95.4,102.2,96.7,96.9
10,GA,49620.0,2.589928,2.0,1.678449,1.295550,0.109887,Georgia,89.2,9.0,96.9,73.8,92.4,97.6,98.5
11,HI,54930.0,2.833333,3.0,1.766667,1.329160,0.542627,Hawaii,192.9,51.0,169.3,318.6,172.7,148.6,116.8
12,IA,47330.0,2.666667,3.0,1.126437,1.061337,0.193773,Iowa,90.1,13.0,95.9,79.6,95.3,95.5,97.8
13,ID,44890.0,2.500000,3.0,0.700000,0.836660,0.341565,Idaho,92.3,19.0,92.2,87.1,82.9,106.7,97.3
14,IL,55130.0,3.095833,3.0,1.358978,1.165752,0.075249,Illinois,94.5,21.0,94.2,87.2,100.9,100.9,99.0
15,IN,46770.0,2.521739,2.0,1.588406,1.260320,0.185824,Indiana,90.0,12.0,93.3,77.3,97.0,93.1,94.3
16,KS,46520.0,2.444444,3.0,0.777778,0.881917,0.293972,Kansas,89.0,8.0,91.9,73.8,103.0,92.3,98.9
17,KY,44020.0,2.230769,2.0,2.025641,1.423250,0.394739,Kentucky,90.9,16.0,89.9,77.4,97.6,92.8,89.2
18,LA,44170.0,2.000000,2.0,1.200000,1.095445,0.447214,Louisiana,93.9,20.0,99.9,86.6,89.3,98.5,98.8
19,MA,65680.0,3.188192,3.0,2.064453,1.436820,0.087281,Massachusetts,131.6,46.0,113.9,170.3,109.7,116.0,117.6
20,MD,60230.0,3.047337,3.0,1.759651,1.326518,0.102040,Maryland,129.7,44.0,108.5,184.5,107.3,116.7,89.2
21,ME,48470.0,2.000000,2.0,0.769231,0.877058,0.234404,Maine,117.5,40.0,107.0,123.1,116.1,121.4,121.8
22,MI,50780.0,2.482353,2.0,1.276471,1.129810,0.122545,Michigan,88.9,7.0,89.3,75.2,97.3,97.4,93.0
23,MN,55890.0,2.409091,2.0,1.445455,1.202271,0.147989,Minnesota,101.6,31.0,106.7,88.3,96.8,103.7,108.6
24,MO,47820.0,2.467532,2.0,1.462748,1.209441,0.137829,Missouri,87.1,4.0,96.6,70.6,99.6,87.3,95.7
25,MS,40090.0,NaN,NaN,NaN,NaN,NaN,Mississippi,86.1,1.0,91.6,70.1,89.1,89.2,91.4
26,MT,45370.0,3.000000,3.0,NaN,NaN,NaN,Montana,106.9,34.0,105.1,111.6,83.9,125.0,98.4
27,NC,48550.0,2.928058,3.0,1.444062,1.201691,0.101926,North Carolina,94.9,22.0,96.6,83.1,97.9,93.4,110.6
28,ND,50430.0,3.000000,3.0,NaN,NaN,NaN,North Dakota,98.8,28.0,108.1,90.3,93.6,104.3,111.7
29,NE,48250.0,2.400000,2.5,0.488889,0.699206,0.221108,Nebraska,90.8,14.0,95.5,80.9,90.8,94.3,99.9
30,NH,53950.0,2.714286,2.0,1.238095,1.112697,0.420560,New Hampshire,109.7,37.0,100.4,110.3,119.5,111.4,116.1
31,NJ,59980.0,3.257812,3.0,2.287340,1.512395,0.133678,New Jersey,125.1,42.0,109.5,163.1,101.6,111.1,101.7
32,NM,47040.0,2.000000,2.0,1.000000,1.000000,0.447214,New Mexico,87.5,5.0,100.9,77.7,87.9,91.6,100.1
33,NV,47210.0,2.050000,2.0,0.892105,0.944513,0.211200,Nevada,108.5,36.0,108.3,121.8,89.0,123.5,105.7
34,NY,63970.0,3.725458,4.0,2.602834,1.613330,0.065809,New York,139.1,48.0,114.8,204.4,108.7,116.6,104.8
35,OH,49430.0,2.712963,3.0,1.440204,1.200085,0.115478,Ohio,90.8,15.0,98.7,73.6,91.8,96.7,97.6
36,OK,45620.0,2.500000,3.0,1.000000,1.000000,0.500000,Oklahoma,87.0,3.0,95.4,71.9,94.1,89.5,93.2
37,OR,53890.0,2.793651,3.0,1.940604,1.393056,0.175509,Oregon,134.2,47.0,110.3,181.8,88.0,136.7,113.2
38,PA,51340.0,2.539568,2.0,1.525597,1.235151,0.104764,Pennsylvania,101.7,32.0,106.9,100.8,106.0,109.5,91.9
39,RI,57220.0,2.857143,3.0,1.142857,1.069045,0.404061,Rhode Island,119.4,41.0,106.2,129.4,123.5,124.0,109.3
40,SC,44380.0,2.541667,2.5,1.476449,1.215092,0.248030,South Carolina,95.9,23.0,101.9,85.1,107.6,88.0,94.2
41,SD,42920.0,2.000000,2.0,NaN,NaN,NaN,South Dakota,99.8,29.0,107.0,109.8,91.8,89.8,103.0
42,TN,45650.0,2.545455,2.0,1.835095,1.354657,0.204222,Tennessee,88.7,6.0,93.3,80.2,93.4,89.7,88.5
43,TX,50490.0,2.866261,3.0,1.664986,1.290343,0.071139,Texas,91.5,18.0,88.9,85.3,102.3,91.4,96.2
44,UT,49420.0,2.352941,2.0,1.629234,1.276414,0.218903,Utah,98.4,27.0,98.5,93.6,89.4,108.6,96.0
45,VA,56740.0,3.389222,3.0,1.781986,1.334910,0.073043,Virginia,100.7,30.0,96.1,108.0,99.2,88.1,97.2
46,VT,51120.0,1.000000,1.0,0.000000,0.000000,0.000000,Vermont,114.5,39.0,111.3,126.7,120.2,119.9,101.2
47,WA,62020.0,3.396396,3.0,1.869308,1.367226,0.091762,Washington,110.7,38.0,107.8,117.8,88.7,121.7,118.9
48,WI,48850.0,2.717949,3.0,1.102564,1.050031,0.168139,Wisconsin,97.3,25.0,100.7,91.4,98.9,98.1,115.2
49,WV,43420.0,2.333333,2.0,0.333333,0.577350,0.333333,West Virginia,91.1,17.0,92.9,79.6,89.0,93.5,89.1
50,WY,49760.0,2.500000,2.5,0.500000,0.707107,0.500000,Wyoming,89.3,10.0,98.7,72.3,87.3,99.3,94.9

In [6]:
# Drop observations/rows with "0" values for "Number of Skills" column 
df_cleaned = df.dropna(subset=['No_of_Skills'])

# Examine df
# df_cleaned.head()
# df_cleaned

In [70]:
# # Select Columns to keep in df copy
df_cleaned.dtypes
df1 = df_cleaned.drop(columns="Link")
# df1 = df1.drop(columns="Description")
df1 = df1.drop(columns="Index_No")
# df1

In [8]:
# # Make DataFrame with just Salary_Index of 1, top income bracket
# df1_6 = df1[df['Salary_Index']==1]
# len(df1_6['Salary_Index'])
# # df1_6

# # Make DataFrame with just Salary_Index of 6, top income bracket
# df1_6 = df1[df1['Salary_Index']==6]
# len(df1_6['Salary_Index'])
# # df1_6

# # Make DataFrame with just Salary_Index of 6, top income bracket
# df1_6 = df1[df1['Salary_Index']==6]
# len(df1_6['Salary_Index'])
# # df1_6

# # Make DataFrame with just Salary_Index of 6, top income bracket
# df1_6 = df1[df1['Salary_Index']==6]
# len(df1_6['Salary_Index'])
# # df1_6

# # Make DataFrame with just Salary_Index of 6, top income bracket
# df1_6 = df1[df1['Salary_Index']==6]
# len(df1_6['Salary_Index'])
# # df1_6

# # Make DataFrame with just Salary_Index of 6, top income bracket
# df1_6 = df1[df1['Salary_Index']==6]
# len(df1_6['Salary_Index'])
# # df1_6




# Make DataFrame with just Salary_Index of 6, top income bracket
df1_6 = df1[df1['Salary_Index']==6]
len(df1_6['Salary_Index'])
# df1_6

408

In [9]:
df_ind = df1_6.loc[:,['Queried_Salary', 'Company_Industry']]
df_ind 

df_ind = df_ind.replace('', np.NaN)
df_ind

df_ind=df_ind.replace({'Insurance' : 'Other'})
df_ind=df_ind.replace({'Health Care' : 'Other'})
df_ind=df_ind.replace({'Media, News and Publishing' : 'Other'})
df_ind=df_ind.replace({'Telecommunications' : 'Other'})
df_ind=df_ind.replace({'Industrial Manufacturing' : 'Other'})
df_ind=df_ind.replace({'Pharmaceuticals' : 'Other'})
df_ind=df_ind.replace({'Retail' : 'Other'})
df_ind=df_ind.replace({'Aerospace and Defense' : 'Other'})
df_ind=df_ind.replace({'Auto' : 'Other'})
df_ind=df_ind.replace({'Consumer Goods and Services' : 'Other'})
df_ind=df_ind.replace({'Real Estate' : 'Other'})
df_ind=df_ind.replace({'Construction' : 'Other'})
df_ind=df_ind.replace({'Energy and Utilities' : 'Other'})
df_ind=df_ind.replace({'Restaurants, Travel and LeisureConsulting and Business Services' : 'Other'})
df_ind=df_ind.replace({'Transport and Freight' : 'Other'})
# df_ind

In [10]:
df_ind = df_ind['Company_Industry'].value_counts()
df_ind
df_ind_sum = pd.DataFrame ({"Industry": df_ind})
df_ind_sum

                                  Industry
Consulting and Business Services        80
Internet and Software                   50
Other                                   43
Banks and Financial Services            41
Human Resources and Staffing            30
Computers and Electronics               10

In [75]:
df_ind.plot(kind = 'pie', autopct = '%1.1f%%')

In [12]:
# Top skills by industry
df1['Company_Industry'].value_counts()
# Top five industries are: 
# Consulting and Business Services                                   712
# Internet and Software                                              620
# Banks and Financial Services                                       455
# Health Care                                                        306
# Insurance                                                          214

df_ind2 = df1.loc[:,['Queried_Salary', 'Company_Industry']]
len(df_ind2 )

df_ind2 = df_ind2.replace('', np.NaN)
len(df_ind2)
sum(df_ind2['Company_Industry'].value_counts())
# 3,675 + 1,809 blanks = 5,484 total

# # df_ind2=df_ind2.replace({'Health Care' : 'Other'})
# # df_ind2=df_ind2.replace({'Insurance' : 'Other'})

df_ind2=df_ind2.replace({'Industrial Manufacturing' : 'Other'})
df_ind2=df_ind2.replace({'Aerospace and Defense' : 'Other'})
df_ind2=df_ind2.replace({'Retail' : 'Other'})
df_ind2=df_ind2.replace({'Education and Schools' : 'Other'})
df_ind2=df_ind2.replace({'Computers and Electronics' : 'Other'})
df_ind2=df_ind2.replace({'Consumer Goods and Services' : 'Other'})
df_ind2=df_ind2.replace({'Media, News and Publishing' : 'Other'})
df_ind2=df_ind2.replace({'Human Resources and Staffing' : 'Other'})
df_ind2=df_ind2.replace({'Telecommunications' : 'Other'})
df_ind2=df_ind2.replace({'Government' : 'Other'})
df_ind2=df_ind2.replace({'Pharmaceuticals' : 'Other'})
df_ind2=df_ind2.replace({'Energy and Utilities' : 'Other'})
df_ind2=df_ind2.replace({'Restaurants, Travel and Leisure' : 'Other'})
df_ind2=df_ind2.replace({'Restaurants, Travel and LeisureConsulting and Business Services' : 'Other'})
df_ind2=df_ind2.replace({'Auto' : 'Other'})
df_ind2=df_ind2.replace({'Transport and Freight' : 'Other'})
df_ind2=df_ind2.replace({'InsuranceHealth Care' : 'Other'})
df_ind2=df_ind2.replace({'Real Estate' : 'Other'})
df_ind2=df_ind2.replace({'Organization' : 'Other'})
df_ind2=df_ind2.replace({'Agriculture and Extraction' : 'Other'})
df_ind2=df_ind2.replace({'Food and Beverages' : 'Other'})
df_ind2=df_ind2.replace({'Construction' : 'Other'})
df_ind2=df_ind2.replace({'RetailConsumer Goods and Services' : 'Other'})
df_ind2=df_ind2.replace({'Real EstateReal Estate' : 'Other'})
df_ind2=df_ind2.replace({'Industrial ManufacturingConsumer Goods and Services' : 'Other'})
df_ind2=df_ind2.replace({'Industrial ManufacturingConstruction' : 'Other'})
df_ind2=df_ind2.replace({'Food and BeveragesConsulting and Business Services' : 'Other'})
df_ind2=df_ind2.replace({'Industrial ManufacturingAgriculture and Extraction' : 'Other'})
# sum(df_ind2['Company_Industry'].value_counts())
# 3,675 is count, none lost in process

In [13]:
df_ind2 = df_ind2['Company_Industry'].value_counts()
df_ind2
df_ind2_sum = pd.DataFrame ({"Industry": df_ind2})
df_ind2_sum

                                  Industry
Other                                 1368
Consulting and Business Services       712
Internet and Software                  620
Banks and Financial Services           455
Health Care                            306
Insurance                              214

In [14]:
df_ind2.plot(kind = 'pie', autopct = '%1.1f%%')

In [15]:
# Make Dataset for just Industry = Consulting and Business Services
df1_CBS = df1[df1['Company_Industry']=='Consulting and Business Services']
df1_CBS

CBS_sum_Py = sum(df1_CBS['python'])
CBS_sum_Py
CBS_sum_SQL = sum(df1_CBS['sql'])
CBS_sum_ML = sum(df1_CBS['machine learning'])
CBS_sum_R = sum(df1_CBS['r'])
CBS_sum_Had = sum(df1_CBS['hadoop'])
CBS_sum_Tab = sum(df1_CBS['tableau'])
CBS_sum_SAS = sum(df1_CBS['sas'])
CBS_sum_Spark = sum(df1_CBS['spark'])
CBS_sum_Java = sum(df1_CBS['java'])
CBS_sum_Others = sum(df1_CBS['Others'])

# Make Dataset for just Industry = Consulting and Business Services
df1_CBS = df1[df1['Company_Industry']=='Consulting and Business Services']
df1_CBS
CBS_sum_Total = len(df1_CBS)

CBS_sum_Py = sum(df1_CBS['python'])
CBS_sum_Py
CBS_sum_SQL = sum(df1_CBS['sql'])
CBS_sum_ML = sum(df1_CBS['machine learning'])
CBS_sum_R = sum(df1_CBS['r'])
CBS_sum_Had = sum(df1_CBS['hadoop'])
CBS_sum_Tab = sum(df1_CBS['tableau'])
CBS_sum_SAS = sum(df1_CBS['sas'])
CBS_sum_Spark = sum(df1_CBS['spark'])
CBS_sum_Java = sum(df1_CBS['java'])
CBS_sum_Others = sum(df1_CBS['Others'])

# Make Dataset for just Industry = Internet and Software
df1_IS = df1[df1['Company_Industry']=='Internet and Software']
df1_IS
IS_sum_Total = len(df1_IS)

IS_sum_Py = sum(df1_IS['python'])
IS_sum_Py
IS_sum_SQL = sum(df1_IS['sql'])
IS_sum_ML = sum(df1_IS['machine learning'])
IS_sum_R = sum(df1_IS['r'])
IS_sum_Had = sum(df1_IS['hadoop'])
IS_sum_Tab = sum(df1_IS['tableau'])
IS_sum_SAS = sum(df1_IS['sas'])
IS_sum_Spark = sum(df1_IS['spark'])
IS_sum_Java = sum(df1_IS['java'])
IS_sum_Others = sum(df1_IS['Others'])

# Make Dataset for just Industry = Banks and Financial Services
df1_BFS = df1[df1['Company_Industry']=='Banks and Financial Services']
df1_BFS
BFS_sum_Total = len(df1_BFS)

BFS_sum_Py = sum(df1_BFS['python'])
BFS_sum_Py
BFS_sum_SQL = sum(df1_BFS['sql'])
BFS_sum_ML = sum(df1_BFS['machine learning'])
BFS_sum_R = sum(df1_BFS['r'])
BFS_sum_Had = sum(df1_BFS['hadoop'])
BFS_sum_Tab = sum(df1_BFS['tableau'])
BFS_sum_SAS = sum(df1_BFS['sas'])
BFS_sum_Spark = sum(df1_BFS['spark'])
BFS_sum_Java = sum(df1_BFS['java'])
BFS_sum_Others = sum(df1_BFS['Others'])

# Make Dataset for just Industry = Health Care
df1_HC = df1[df1['Company_Industry']== 'Health Care']
df1_HC
HC_sum_Total = len(df1_HC)

HC_sum_Py = sum(df1_HC['python'])
HC_sum_Py
HC_sum_SQL = sum(df1_HC['sql'])
HC_sum_ML = sum(df1_HC['machine learning'])
HC_sum_R = sum(df1_HC['r'])
HC_sum_Had = sum(df1_HC['hadoop'])
HC_sum_Tab = sum(df1_HC['tableau'])
HC_sum_SAS = sum(df1_HC['sas'])
HC_sum_Spark = sum(df1_HC['spark'])
HC_sum_Java = sum(df1_HC['java'])
HC_sum_Others = sum(df1_HC['Others'])

# Make Dataset for just Industry = Insurance
df1_I = df1[df1['Company_Industry']== 'Insurance']
df1_I
I_sum_Total = len(df1_I)

I_sum_Py = sum(df1_I['python'])
I_sum_Py
I_sum_SQL = sum(df1_I['sql'])
I_sum_ML = sum(df1_I['machine learning'])
I_sum_R = sum(df1_I['r'])
I_sum_Had = sum(df1_I['hadoop'])
I_sum_Tab = sum(df1_I['tableau'])
I_sum_SAS = sum(df1_I['sas'])
I_sum_Spark = sum(df1_I['spark'])
I_sum_Java = sum(df1_I['java'])
I_sum_Others = sum(df1_I['Others'])

In [16]:
Skill= ['python', 'sql','machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java', 'Others', 'Total']
CBS = [CBS_sum_Py, CBS_sum_SQL, CBS_sum_ML, CBS_sum_R, CBS_sum_Had, CBS_sum_Tab, CBS_sum_SAS, CBS_sum_Spark, CBS_sum_Java, CBS_sum_Others, CBS_sum_Total]
IS = [IS_sum_Py, IS_sum_SQL, IS_sum_ML, IS_sum_R, IS_sum_Had, IS_sum_Tab, IS_sum_SAS, IS_sum_Spark, IS_sum_Java, IS_sum_Others, IS_sum_Total]
BFS = [BFS_sum_Py, BFS_sum_SQL, BFS_sum_ML, BFS_sum_R, BFS_sum_Had, BFS_sum_Tab, BFS_sum_SAS, BFS_sum_Spark, BFS_sum_Java, BFS_sum_Others, BFS_sum_Total]
HC = [HC_sum_Py, HC_sum_SQL, HC_sum_ML, HC_sum_R, HC_sum_Had, HC_sum_Tab, HC_sum_SAS, HC_sum_Spark, HC_sum_Java, HC_sum_Others, HC_sum_Total]
I = [I_sum_Py, I_sum_SQL, I_sum_ML, I_sum_R, I_sum_Had, I_sum_Tab, I_sum_SAS, I_sum_Spark, I_sum_Java, I_sum_Others, I_sum_Total]

industry_sum = pd.DataFrame({
    'Skill':Skill,
    'Consulting and Business Services': CBS,
    'Internet and Software': IS,
    'Banks and Financial Services': BFS,
    'Health Care': HC,
    'Insurance': I
})
industry_sum

,Skill,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance
0,python,426.0,432.0,264.0,126.0,124.0
1,sql,377.0,411.0,310.0,204.0,143.0
2,machine learning,340.0,291.0,187.0,86.0,85.0
3,r,275.0,266.0,171.0,112.0,103.0
4,hadoop,270.0,242.0,165.0,56.0,93.0
5,tableau,200.0,105.0,105.0,82.0,49.0
6,sas,121.0,82.0,96.0,92.0,59.0
7,spark,235.0,212.0,160.0,51.0,35.0
8,java,182.0,215.0,163.0,63.0,71.0
9,Others,658.0,583.0,436.0,290.0,194.0
10,Total,712.0,620.0,455.0,306.0,214.0

In [17]:
# Make Dataset for just Industry = Consulting and Business Services
df1_CBS = df1[df1['Company_Industry']=='Consulting and Business Services']
df1_CBS
CBS_sum_Total = len(df1_CBS)

CBS_sum_Py_p = sum(df1_CBS['python'])/CBS_sum_Total
CBS_sum_Py_p
CBS_sum_SQL_p = sum(df1_CBS['sql'])/CBS_sum_Total
CBS_sum_ML_p = sum(df1_CBS['machine learning'])/CBS_sum_Total
CBS_sum_R_p = sum(df1_CBS['r'])/CBS_sum_Total
CBS_sum_Had_p = sum(df1_CBS['hadoop'])/CBS_sum_Total
CBS_sum_Tab_p = sum(df1_CBS['tableau'])/CBS_sum_Total
CBS_sum_SAS_p = sum(df1_CBS['sas'])/CBS_sum_Total
CBS_sum_Spark_p = sum(df1_CBS['spark'])/CBS_sum_Total
CBS_sum_Java_p = sum(df1_CBS['java'])/CBS_sum_Total
CBS_sum_Others_p = sum(df1_CBS['Others'])/CBS_sum_Total

# Make Dataset for just Industry = Internet and Software
df1_IS = df1[df1['Company_Industry']=='Internet and Software']
df1_IS
IS_sum_Total = len(df1_IS)

IS_sum_Py_p = sum(df1_IS['python'])/IS_sum_Total
IS_sum_Py_p
IS_sum_SQL_p = sum(df1_IS['sql'])/IS_sum_Total
IS_sum_ML_p = sum(df1_IS['machine learning'])/IS_sum_Total
IS_sum_R_p = sum(df1_IS['r'])/IS_sum_Total
IS_sum_Had_p = sum(df1_IS['hadoop'])/IS_sum_Total
IS_sum_Tab_p = sum(df1_IS['tableau'])/IS_sum_Total
IS_sum_SAS_p = sum(df1_IS['sas'])/IS_sum_Total
IS_sum_Spark_p = sum(df1_IS['spark'])/IS_sum_Total
IS_sum_Java_p = sum(df1_IS['java'])/IS_sum_Total
IS_sum_Others_p = sum(df1_IS['Others'])/IS_sum_Total

# Make Dataset for just Industry = Banks and Financial Services
df1_BFS = df1[df1['Company_Industry']=='Banks and Financial Services']
df1_BFS
BFS_sum_Total = len(df1_BFS)

BFS_sum_Py_p = sum(df1_BFS['python'])/BFS_sum_Total
BFS_sum_Py_p
BFS_sum_SQL_p = sum(df1_BFS['sql'])/BFS_sum_Total
BFS_sum_ML_p = sum(df1_BFS['machine learning'])/BFS_sum_Total
BFS_sum_R_p = sum(df1_BFS['r'])/BFS_sum_Total
BFS_sum_Had_p = sum(df1_BFS['hadoop'])/BFS_sum_Total
BFS_sum_Tab_p = sum(df1_BFS['tableau'])/BFS_sum_Total
BFS_sum_SAS_p = sum(df1_BFS['sas'])/BFS_sum_Total
BFS_sum_Spark_p = sum(df1_BFS['spark'])/BFS_sum_Total
BFS_sum_Java_p = sum(df1_BFS['java'])/BFS_sum_Total
BFS_sum_Others_p = sum(df1_BFS['Others'])/BFS_sum_Total

# Make Dataset for just Industry = Health Care
df1_HC = df1[df1['Company_Industry']== 'Health Care']
df1_HC
HC_sum_Total = len(df1_HC)

HC_sum_Py_p = sum(df1_HC['python'])/HC_sum_Total
HC_sum_Py_p
HC_sum_SQL_p = sum(df1_HC['sql'])/HC_sum_Total
HC_sum_ML_p = sum(df1_HC['machine learning'])/HC_sum_Total
HC_sum_R_p = sum(df1_HC['r'])/HC_sum_Total
HC_sum_Had_p = sum(df1_HC['hadoop'])/HC_sum_Total
HC_sum_Tab_p = sum(df1_HC['tableau'])/HC_sum_Total
HC_sum_SAS_p = sum(df1_HC['sas'])/HC_sum_Total
HC_sum_Spark_p = sum(df1_HC['spark'])/HC_sum_Total
HC_sum_Java_p = sum(df1_HC['java'])/HC_sum_Total
HC_sum_Others_p = sum(df1_HC['Others'])/HC_sum_Total

# Make Dataset for just Industry = Insurance
df1_I = df1[df1['Company_Industry']== 'Insurance']
df1_I
I_sum_Total = len(df1_I)

I_sum_Py_p = sum(df1_I['python'])/I_sum_Total
I_sum_Py_p
I_sum_SQL_p = sum(df1_I['sql'])/I_sum_Total
I_sum_ML_p = sum(df1_I['machine learning'])/I_sum_Total
I_sum_R_p = sum(df1_I['r'])/I_sum_Total
I_sum_Had_p = sum(df1_I['hadoop'])/I_sum_Total
I_sum_Tab_p = sum(df1_I['tableau'])/I_sum_Total
I_sum_SAS_p = sum(df1_I['sas'])/I_sum_Total
I_sum_Spark_p = sum(df1_I['spark'])/I_sum_Total
I_sum_Java_p = sum(df1_I['java'])/I_sum_Total
I_sum_Others_p = sum(df1_I['Others'])/I_sum_Total

In [18]:
############### Proportions, not Percentages. With Others and Total


Skill= ['python', 'sql','machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java', 'Others', 'Total']
CBS = ["{:.2%}".format(CBS_sum_Py_p), 
       "{:.2%}".format(CBS_sum_SQL_p), 
       "{:.2%}".format(CBS_sum_ML_p), 
       "{:.2%}".format(CBS_sum_R_p), 
       "{:.2%}".format(CBS_sum_Had_p), 
       "{:.2%}".format(CBS_sum_Tab_p), 
       "{:.2%}".format(CBS_sum_SAS_p), 
       "{:.2%}".format(CBS_sum_Spark_p), 
       "{:.2%}".format(CBS_sum_Java_p), 
       "{:.2%}".format(CBS_sum_Others_p), 
       CBS_sum_Total]
IS = ["{:.2%}".format(IS_sum_Py_p), 
      "{:.2%}".format(IS_sum_SQL_p), 
      "{:.2%}".format(IS_sum_ML_p), 
      "{:.2%}".format(IS_sum_R_p), 
      "{:.2%}".format(IS_sum_Had_p), 
      "{:.2%}".format(IS_sum_Tab_p), 
      "{:.2%}".format(IS_sum_SAS_p), 
      "{:.2%}".format(IS_sum_Spark_p), 
      "{:.2%}".format(IS_sum_Java_p), 
      "{:.2%}".format(IS_sum_Others_p), 
      IS_sum_Total]
BFS = ["{:.2%}".format(BFS_sum_Py_p), 
       "{:.2%}".format(BFS_sum_SQL_p), 
       "{:.2%}".format(BFS_sum_ML_p), 
       "{:.2%}".format(BFS_sum_R_p), 
       "{:.2%}".format(BFS_sum_Had_p), 
       "{:.2%}".format(BFS_sum_Tab_p), 
       "{:.2%}".format(BFS_sum_SAS_p), 
       "{:.2%}".format(BFS_sum_Spark_p), 
       "{:.2%}".format(BFS_sum_Java_p), 
       "{:.2%}".format(BFS_sum_Others_p), 
       BFS_sum_Total]
HC = ["{:.2%}".format(HC_sum_Py_p), 
      "{:.2%}".format(HC_sum_SQL_p), 
      "{:.2%}".format(HC_sum_ML_p), 
      "{:.2%}".format(HC_sum_R_p), 
      "{:.2%}".format(HC_sum_Had_p), 
      "{:.2%}".format(HC_sum_Tab_p), 
      "{:.2%}".format(HC_sum_SAS_p), 
      "{:.2%}".format(HC_sum_Spark_p), 
      "{:.2%}".format(HC_sum_Java_p), 
      "{:.2%}".format(HC_sum_Others_p), 
      HC_sum_Total]
I = ["{:.2%}".format(I_sum_Py_p),
     "{:.2%}".format(I_sum_SQL_p),
     "{:.2%}".format(I_sum_ML_p),
     "{:.2%}".format(I_sum_R_p),
     "{:.2%}".format(I_sum_Had_p),
     "{:.2%}".format(I_sum_Tab_p),
     "{:.2%}".format(I_sum_SAS_p),
     "{:.2%}".format(I_sum_Spark_p),
     "{:.2%}".format(I_sum_Java_p),
     "{:.2%}".format(I_sum_Others_p),
     I_sum_Total]

industry_sum_p = pd.DataFrame({
    'Skill':Skill,
    'Consulting and Business Services': CBS,
    'Internet and Software': IS,
    'Banks and Financial Services': BFS,
    'Health Care': HC,
    'Insurance': I
})
industry_sum_p

,Skill,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance
0,python,59.83%,69.68%,58.02%,41.18%,57.94%
1,sql,52.95%,66.29%,68.13%,66.67%,66.82%
2,machine learning,47.75%,46.94%,41.10%,28.10%,39.72%
3,r,38.62%,42.90%,37.58%,36.60%,48.13%
4,hadoop,37.92%,39.03%,36.26%,18.30%,43.46%
5,tableau,28.09%,16.94%,23.08%,26.80%,22.90%
6,sas,16.99%,13.23%,21.10%,30.07%,27.57%
7,spark,33.01%,34.19%,35.16%,16.67%,16.36%
8,java,25.56%,34.68%,35.82%,20.59%,33.18%
9,Others,92.42%,94.03%,95.82%,94.77%,90.65%
10,Total,712,620,455,306,214

In [19]:
############### Proportions, not Percentages. With Others

Skill= ['python', 'sql','machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java', 'Others']
CBS = [CBS_sum_Py_p, 
       CBS_sum_SQL_p, 
       CBS_sum_ML_p, 
       CBS_sum_R_p, 
       CBS_sum_Had_p, 
       CBS_sum_Tab_p, 
       CBS_sum_SAS_p, 
       CBS_sum_Spark_p, 
       CBS_sum_Java_p, 
       CBS_sum_Others_p]
IS = [IS_sum_Py_p, 
      IS_sum_SQL_p, 
      IS_sum_ML_p, 
      IS_sum_R_p, 
      IS_sum_Had_p, 
      IS_sum_Tab_p, 
      IS_sum_SAS_p, 
      IS_sum_Spark_p, 
      IS_sum_Java_p, 
      IS_sum_Others_p]
BFS = [BFS_sum_Py_p, 
       BFS_sum_SQL_p, 
       BFS_sum_ML_p, 
       BFS_sum_R_p, 
       BFS_sum_Had_p, 
       BFS_sum_Tab_p, 
       BFS_sum_SAS_p, 
       BFS_sum_Spark_p, 
       BFS_sum_Java_p, 
       BFS_sum_Others_p]
HC = [HC_sum_Py_p, 
      HC_sum_SQL_p, 
      HC_sum_ML_p, 
      HC_sum_R_p, 
      HC_sum_Had_p, 
      HC_sum_Tab_p, 
      HC_sum_SAS_p, 
      HC_sum_Spark_p, 
      HC_sum_Java_p, 
      HC_sum_Others_p]
I = [I_sum_Py_p,
     I_sum_SQL_p,
     I_sum_ML_p,
     I_sum_R_p,
     I_sum_Had_p,
     I_sum_Tab_p,
     I_sum_SAS_p,
     I_sum_Spark_p,
     I_sum_Java_p,
     I_sum_Others_p]

industry_sum_no_p = pd.DataFrame({
    'Skill':Skill,
    'Consulting and Business Services': CBS,
    'Internet and Software': IS,
    'Banks and Financial Services': BFS,
    'Health Care': HC,
    'Insurance': I
})
industry_sum_no_p

,Skill,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance
0,python,0.598315,0.696774,0.580220,0.411765,0.579439
1,sql,0.529494,0.662903,0.681319,0.666667,0.668224
2,machine learning,0.477528,0.469355,0.410989,0.281046,0.397196
3,r,0.386236,0.429032,0.375824,0.366013,0.481308
4,hadoop,0.379213,0.390323,0.362637,0.183007,0.434579
5,tableau,0.280899,0.169355,0.230769,0.267974,0.228972
6,sas,0.169944,0.132258,0.210989,0.300654,0.275701
7,spark,0.330056,0.341935,0.351648,0.166667,0.163551
8,java,0.255618,0.346774,0.358242,0.205882,0.331776
9,Others,0.924157,0.940323,0.958242,0.947712,0.906542

In [20]:
CBSbar = industry_sum_no_p.loc[:, ['Skill', 'Consulting and Business Services']]
CBSbar = CBSbar.set_index(['Skill'])
CBSbar 

x_axis = CBSbar['Consulting and Business Services']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Consulting and Business Services")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

Text(0, 0.5, 'Presence of Skill in Job Description\n (Percentage)')

In [21]:
ISbar = industry_sum_no_p.loc[:, ['Skill', 'Internet and Software']]
ISbar = ISbar.set_index(['Skill'])
ISbar 

x_axis = ISbar['Internet and Software']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Internet and Software")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

Text(0, 0.5, 'Presence of Skill in Job Description\n (Percentage)')

In [22]:
BFSbar = industry_sum_no_p.loc[:, ['Skill', 'Banks and Financial Services']]
BFSbar = BFSbar.set_index(['Skill'])
BFSbar 

x_axis = BFSbar['Banks and Financial Services']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Banks and Financial Services")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

Text(0, 0.5, 'Presence of Skill in Job Description\n (Percentage)')

In [23]:
HCbar = industry_sum_no_p.loc[:, ['Skill', 'Health Care']]
HCbar = HCbar.set_index(['Skill'])
HCbar 

x_axis = HCbar['Health Care']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Health Care")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

Text(0, 0.5, 'Presence of Skill in Job Description\n (Percentage)')

In [24]:
Ibar = industry_sum_no_p.loc[:, ['Skill', 'Insurance']]
Ibar = Ibar.set_index(['Skill'])
Ibar 

x_axis = Ibar['Insurance']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Insurance")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

Text(0, 0.5, 'Presence of Skill in Job Description\n (Percentage)')

In [25]:
############### No Others
Skill= ['python', 'sql','machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java']
CBS = [CBS_sum_Py_p, 
       CBS_sum_SQL_p, 
       CBS_sum_ML_p, 
       CBS_sum_R_p, 
       CBS_sum_Had_p, 
       CBS_sum_Tab_p, 
       CBS_sum_SAS_p, 
       CBS_sum_Spark_p, 
       CBS_sum_Java_p]
IS = [IS_sum_Py_p, 
      IS_sum_SQL_p, 
      IS_sum_ML_p, 
      IS_sum_R_p, 
      IS_sum_Had_p, 
      IS_sum_Tab_p, 
      IS_sum_SAS_p, 
      IS_sum_Spark_p, 
      IS_sum_Java_p]
BFS = [BFS_sum_Py_p, 
       BFS_sum_SQL_p, 
       BFS_sum_ML_p, 
       BFS_sum_R_p, 
       BFS_sum_Had_p, 
       BFS_sum_Tab_p, 
       BFS_sum_SAS_p, 
       BFS_sum_Spark_p, 
       BFS_sum_Java_p]
HC = [HC_sum_Py_p, 
      HC_sum_SQL_p, 
      HC_sum_ML_p, 
      HC_sum_R_p, 
      HC_sum_Had_p, 
      HC_sum_Tab_p, 
      HC_sum_SAS_p, 
      HC_sum_Spark_p, 
      HC_sum_Java_p]
I = [I_sum_Py_p,
     I_sum_SQL_p,
     I_sum_ML_p,
     I_sum_R_p,
     I_sum_Had_p,
     I_sum_Tab_p,
     I_sum_SAS_p,
     I_sum_Spark_p,
     I_sum_Java_p]

industry_sum_no_p_no_o = pd.DataFrame({
    'Skill':Skill,
    'Consulting and Business Services': CBS,
    'Internet and Software': IS,
    'Banks and Financial Services': BFS,
    'Health Care': HC,
    'Insurance': I
})
industry_sum_no_p_no_o

,Skill,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance
0,python,0.598315,0.696774,0.580220,0.411765,0.579439
1,sql,0.529494,0.662903,0.681319,0.666667,0.668224
2,machine learning,0.477528,0.469355,0.410989,0.281046,0.397196
3,r,0.386236,0.429032,0.375824,0.366013,0.481308
4,hadoop,0.379213,0.390323,0.362637,0.183007,0.434579
5,tableau,0.280899,0.169355,0.230769,0.267974,0.228972
6,sas,0.169944,0.132258,0.210989,0.300654,0.275701
7,spark,0.330056,0.341935,0.351648,0.166667,0.163551
8,java,0.255618,0.346774,0.358242,0.205882,0.331776

In [26]:
CBSbar = industry_sum_no_p_no_o.loc[:, ['Skill', 'Consulting and Business Services']]
CBSbar = CBSbar.set_index(['Skill'])
CBSbar 

x_axis = CBSbar['Consulting and Business Services']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Consulting and Business Services")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

# Save Plot
plt.savefig('../04._Output/CBSbar_no_others.png')

In [27]:
ISbar = industry_sum_no_p_no_o.loc[:, ['Skill', 'Internet and Software']]
ISbar = ISbar.set_index(['Skill'])
ISbar 

x_axis = ISbar['Internet and Software']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Internet and Software")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

# Save Plot
plt.savefig('../04._Output/ISbar_no_others.png')

In [28]:
BFSbar = industry_sum_no_p_no_o.loc[:, ['Skill', 'Banks and Financial Services']]
BFSbar = BFSbar.set_index(['Skill'])
BFSbar 

x_axis = BFSbar['Banks and Financial Services']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Banks and Financial Services")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")


# Save Plot
plt.savefig('../04._Output/BFSbar_no_others.png')

In [29]:
HCbar = industry_sum_no_p_no_o.loc[:, ['Skill', 'Health Care']]
HCbar = HCbar.set_index(['Skill'])
HCbar 

x_axis = HCbar['Health Care']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Health Care")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

# Save Plot
plt.savefig('../04._Output/HCbar_no_others.png')

In [30]:
Ibar = industry_sum_no_p_no_o.loc[:, ['Skill', 'Insurance']]
Ibar = Ibar.set_index(['Skill'])
Ibar 

x_axis = Ibar['Insurance']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Insurance")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

# Save Plot
plt.savefig('../04._Output/Ibar_no_others.png')

In [ ]:
merge_df

In [32]:
df_cram = df1.loc[:,['>160000', \
                     'python']]
df_cram
# , 
def cramers_V(var1,var2):
  # Cross table building
  crosstab =np.array(pd.crosstab(var1,var2, rownames=None, colnames=None)) 
  # Keeping of the test statistic of the Chi2 test
  stat = chi2_contingency(crosstab)[0] 
  obs = np.sum(crosstab) # Number of observations
  # Take the minimum value between the columns and the rows of the cross table
  mini = min(crosstab.shape)-1 
  return (stat/(obs*mini))

rows= []

for var1 in df_cram:
  col = []
  for var2 in df_cram :
    cramers =cramers_V(df_cram[var1], df_cram[var2]) # Cramer's V test
    col.append(round(cramers,2)) # Keeping of the rounded value of the Cramer's V  
  rows.append(col)
  
cramers_results = np.array(rows)
df_cram_sum = pd.DataFrame(cramers_results, columns = df_cram.columns, index =df_cram.columns)
df_cram_sum

         >160000  python
>160000      1.0     0.0
python       0.0     1.0

In [34]:
df_cram_1 = df1.loc[:,['<80000', '80000-99999','100000-119999',\
                     '120000-139999','140000-159999','>160000', \
                     'python', 'sql', 'machine learning', 'r', \
                      'hadoop', 'spark', 'java', 'tableau', \
                       'datamining', 'hive', 'sas', 'bigdata',\
                       'aws', 'scala', 'nosql', 'c/c++'
                      ]]
df_cram_1

def cramers_V(var1,var2):
  # Cross table building
  crosstab =np.array(pd.crosstab(var1,var2, rownames=None, colnames=None)) 
  # Keeping of the test statistic of the Chi2 test
  stat = chi2_contingency(crosstab)[0] 
  obs = np.sum(crosstab) # Number of observations
  # Take the minimum value between the columns and the rows of the cross table
  mini = min(crosstab.shape)-1 
  return (stat/(obs*mini))

rows= []

for var1 in df_cram_1:
  col = []
  for var2 in df_cram_1 :
    cramers =cramers_V(df_cram_1[var1], df_cram_1[var2]) # Cramer's V test
    col.append(round(cramers,2)) # Keeping of the rounded value of the Cramer's V  
  rows.append(col)
  
cramers_results_1 = np.array(rows)
df_cram_sum_1 = pd.DataFrame(cramers_results_1, columns = df_cram_1.columns, \
                           index =df_cram_1.columns)
df_cram_sum_1

,<80000,80000-99999,100000-119999,120000-139999,140000-159999,>160000,python,sql,machine learning,r,...,java,tableau,datamining,hive,sas,bigdata,aws,scala,nosql,c/c++
<80000,1.00,0.03,0.05,0.04,0.03,0.01,0.09,0.00,0.06,0.02,...,0.03,0.00,0.00,0.03,0.00,0.02,0.02,0.02,0.01,0.01
80000-99999,0.03,1.00,0.06,0.06,0.04,0.02,0.02,0.01,0.03,0.00,...,0.02,0.01,0.00,0.02,0.00,0.02,0.01,0.02,0.01,0.00
100000-119999,0.05,0.06,1.00,0.10,0.06,0.03,0.00,0.00,0.00,0.01,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
120000-139999,0.04,0.06,0.10,1.00,0.06,0.02,0.03,0.00,0.02,0.01,...,0.01,0.00,0.00,0.02,0.00,0.02,0.01,0.01,0.01,0.01
140000-159999,0.03,0.04,0.06,0.06,1.00,0.01,0.02,0.01,0.03,0.00,...,0.02,0.00,0.00,0.01,0.00,0.01,0.01,0.02,0.00,0.00
>160000,0.01,0.02,0.03,0.02,0.01,1.00,0.00,0.01,0.01,0.00,...,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
python,0.09,0.02,0.00,0.03,0.02,0.00,1.00,0.02,0.10,0.19,...,0.07,0.00,0.00,0.03,0.00,0.01,0.04,0.03,0.01,0.03
sql,0.00,0.01,0.00,0.00,0.01,0.01,0.02,1.00,0.02,0.01,...,0.01,0.03,0.00,0.03,0.01,0.01,0.01,0.01,0.07,0.00
machine learning,0.06,0.03,0.00,0.02,0.03,0.01,0.10,0.02,1.00,0.09,...,0.01,0.01,0.04,0.00,0.00,0.01,0.00,0.00,0.00,0.04
r,0.02,0.00,0.01,0.01,0.00,0.00,0.19,0.01,0.09,1.00,...,0.00,0.02,0.04,0.01,0.12,0.00,0.01,0.00,0.00,0.01
hadoop,0.06,0.04,0.00,0.03,0.03,0.01,0.05,0.02,0.02,0.01,...,0.10,0.00,0.00,0.26,0.00,0.16,0.04,0.14,0.09,0.01
spark,0.05,0.04,0.00,0.03,0.03,0.01,0.07,0.01,0.02,0.00,...,0.08,0.01,0.00,0.16,0.01,0.13,0.10,0.22,0.08,0.01
java,0.03,0.02,0.00,0.01,0.02,0.00,0.07,0.01,0.01,0.00,...,1.00,0.00,0.00,0.04,0.01,0.03,0.03,0.18,0.06,0.14
tableau,0.00,0.01,0.00,0.00,0.00,0.01,0.00,0.03,0.01,0.02,...,0.00,1.00,0.00,0.00,0.02,0.00,0.00,0.00,0.00,0.00
datamining,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.04,0.04,...,0.00,0.00,1.00,0.00,0.04,0.00,0.01,0.00,0.00,0.01
hive,0.03,0.02,0.00,0.02,0.01,0.00,0.03,0.03,0.00,0.01,...,0.04,0.00,0.00,1.00,0.00,0.09,0.01,0.08,0.02,0.00
sas,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.12,...,0.01,0.02,0.04,0.00,1.00,0.00,0.01,0.01,0.01,0.00
bigdata,0.02,0.02,0.00,0.02,0.01,0.00,0.01,0.01,0.01,0.00,...,0.03,0.00,0.00,0.09,0.00,1.00,0.02,0.06,0.04,0.00
aws,0.02,0.01,0.00,0.01,0.01,0.00,0.04,0.01,0.00,0.01,...,0.03,0.00,0.01,0.01,0.01,0.02,1.00,0.06,0.05,0.00
scala,0.02,0.02,0.00,0.01,0.02,0.00,0.03,0.01,0.00,0.00,...,0.18,0.00,0.00,0.08,0.01,0.06,0.06,1.00,0.07,0.02
nosql,0.01,0.01,0.00,0.01,0.00,0.00,0.01,0.07,0.00,0.00,...,0.06,0.00,0.00,0.02,0.01,0.04,0.05,0.07,1.00,0.01
c/c++,0.01,0.00,0.00,0.01,0.00,0.00,0.03,0.00,0.04,0.01,...,0.14,0.00,0.01,0.00,0.00,0.00,0.00,0.02,0.01,1.00

In [35]:
mask = np.zeros_like(df_cram_sum_1, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True


with sns.axes_style("white"):
  ax = sns.heatmap(df_cram_sum_1, mask=mask,vmin=0., vmax=1, square=True)

# plt.show()

In [37]:
####### Regressions
def lin_reg_plot(x_values,y_values, text_coordinates):
    (slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
    regress_values = x_values * slope + intercept  
    line_eq = 'y = ' + str(round(slope,2)) + 'x + ' + str(round(intercept,2))

    # New Scatter plot with regression line
    plt.scatter(x_values,y_values,edgecolors='black')
    plt.plot(x_values,regress_values,'r-')
    plt.annotate(line_eq,text_coordinates,fontsize=14,color="red")
    
    # Add R-squared annotation
    print(f'The r-squared is: {rvalue}')
    print(line_eq)

In [38]:
x_values = df_cram_1['python']
y_values = df_cram_1['>160000']

lin_reg_plot(x_values,y_values, (.2, .2))

The r-squared is: 0.042078194975562665
y = 0.02x + 0.06

In [39]:
X = df1[[
    'Consulting and Business Services', \
    'python', \
    'sql', \
    'machine learning', \
    'r', \
    'hadoop', \
    'spark', \
    'java', \
    'tableau', \
    'datamining', \
    'hive', 'sas', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'nosql',  \
    'c/c++',  \
    'naturallanguageprocessing', \
    'oracle', \
    'datawarehouse', \
    'linux', \
    'ai', \
    'microsoftsqlserver', \
    'tensorflow', \
    'kafka', \
    'dataanalysis', \
    'azure', \
    'matlab', \
    'microsoftoffice', \
    'scripting', \
    'pig', \
    'git', \
    'microsoftpowerpoint', \
    'excel', \
    'designexperience', \
    'javascript', \
    'hbase', \
    'cassandra', \
    'postgresql', \
    'mysql', \
    'perl', \
    'spss', \
    'softwaredevelopment', \
    'shellscripting', \
    'datascience', \
    'docker', \
    'mongodb', \
    '.net', \
    'projectmanagement', \
    'businessintelligence', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['>160000']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
# X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                >160000   R-squared (uncentered):                   0.110
Model:                            OLS   Adj. R-squared (uncentered):              0.102
Method:                 Least Squares   F-statistic:                              13.23
Date:                Fri, 14 Aug 2020   Prob (F-statistic):                   1.55e-102
Time:                        11:49:47   Log-Likelihood:                         -336.28
No. Observations:                5483   AIC:                                      774.6
Df Residuals:                    5432   BIC:                                      1112.
Df Model:                          51
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Consulting and Business Services     0.0818      0.011      7.514      0.000       0.060       0.103
python                               0.0237      0.009      2.642      0.008       0.006       0.041
sql                                  0.0156      0.008      1.980      0.048       0.000       0.031
machine learning                     0.0546      0.009      6.399      0.000       0.038       0.071
r                                   -0.0151      0.009     -1.637      0.102      -0.033       0.003
hadoop                               0.0390      0.011      3.671      0.000       0.018       0.060
spark                                0.0276      0.011      2.553      0.011       0.006       0.049
java                                -0.0010      0.011     -0.091      0.927      -0.022       0.020
tableau                             -0.0199      0.009     -2.201      0.028      -0.038      -0.002
datamining                          -0.0286      0.009     -3.017      0.003      -0.047      -0.010
hive                                -0.0029      0.012     -0.238      0.812      -0.027       0.021
sas                                  0.0169      0.011      1.515      0.130      -0.005       0.039
bigdata                             -0.0178      0.011     -1.665      0.096      -0.039       0.003
aws                                  0.0536      0.012      4.632      0.000       0.031       0.076
scala                                0.0205      0.012      1.653      0.098      -0.004       0.045
nosql                               -0.0079      0.013     -0.594      0.553      -0.034       0.018
c/c++                                0.0302      0.013      2.298      0.022       0.004       0.056
naturallanguageprocessing            0.0012      0.013      0.097      0.923      -0.024       0.026
oracle                              -0.0063      0.013     -0.485      0.628      -0.032       0.019
datawarehouse                       -0.0079      0.013     -0.633      0.527      -0.033       0.017
linux                               -0.0424      0.014     -3.023      0.003      -0.070      -0.015
ai                                   0.0032      0.013      0.237      0.813      -0.023       0.029
microsoftsqlserver                  -0.0141      0.014     -1.023      0.306      -0.041       0.013
tensorflow                           0.0271      0.014      1.955      0.051   -7.73e-05       0.054
kafka                                0.0524      0.015      3.540      0.000       0.023       0.081
dataanalysis                        -0.0008      0.013     -0.063      0.950      -0.026       0.025
azure                               -0.0670      0.015     -4.574      0.000      -0.096      -0.038
matlab                               0.0185      0.015      1.272      0.203      -0.010       0.047
microsoftoffice                     -0.0172      0.015     -1.152      0.249      -0.047       0.012
scripting                           -0.0199      0.017     -1.167      0.243      -0.053       0.013
pig                                 -0.0579      0.017     -3.354      0.001      -0.092      -0.024
git                                 -0.0338      0.015     -2.272      0.023      -0.063      -0.005
microsoftpowerpoint                  0.0177      0.016      1.104      0.270      -0.014       0.049
excel                               -0.0085      0.015     -0.557      0.578      -0.038       0.021
designexperience                    -0.0139      0.016     -0.873      0.383      -0.045       0.017
javascript                           0.0003      0.017      0.018      0.986      -0.033       0.034
hbase                                0.0204      0.018      1.126      0.260      -0.015       0.056
cassandra                           -0.0185      0.019     -0.954      0.340      -0.057       0.020
postgresql                           0.0079      0.018      0.441      0.659      -0.027       0.043
mysql                                0.0037      0.017      0.212      0.832      -0.031       0.038
perl                                 0.0127      0.017      0.727      0.467      -0.021       0.047
spss                                -0.0242      0.018     -1.352      0.176      -0.059       0.011
softwaredevelopment                  0.0380      0.017      2.282      0.023       0.005       0.071
shellscripting                       0.0357      0.023      1.531      0.126      -0.010       0.081
datascience                         -0.0043      0.017     -0.251      0.802      -0.038       0.030
docker                              -0.0862      0.019     -4.642      0.000      -0.123      -0.050
mongodb                             -0.0252      0.020     -1.283      0.199      -0.064       0.013
.net                                -0.0222      0.019     -1.160      0.246      -0.060       0.015
projectmanagement                    0.0195      0.018      1.090      0.276      -0.016       0.055
businessintelligence                 0.0231      0.019      1.205      0.228      -0.015       0.061
s3                                  -0.0343      0.020     -1.685      0.092      -0.074       0.006
==============================================================================
Omnibus:                     3235.629   Durbin-Watson:                   0.114
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            20751.096
Skew:                           2.931   Prob(JB):                         0.00
Kurtosis:                      10.514   Cond. No.                         11.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [40]:
# '>160000', 'Consulting and Business Services' - Short
X = df1[[
    'Consulting and Business Services', \
    'python', \
    'sql', \
    'machine learning', \
    'hadoop', \
    'spark', \
    'tableau', \
    'datamining', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'c/c++',  \
    'linux', \
    'tensorflow', \
    'kafka', \
    'azure', \
    'pig', \
    'git', \
    'softwaredevelopment', \
    'docker', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['>160000']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
# X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                >160000   R-squared (uncentered):                   0.107
Model:                            OLS   Adj. R-squared (uncentered):              0.103
Method:                 Least Squares   F-statistic:                              31.06
Date:                Fri, 14 Aug 2020   Prob (F-statistic):                   3.77e-117
Time:                        11:49:47   Log-Likelihood:                         -347.96
No. Observations:                5483   AIC:                                      737.9
Df Residuals:                    5462   BIC:                                      876.7
Df Model:                          21
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Consulting and Business Services     0.0791      0.011      7.389      0.000       0.058       0.100
python                               0.0194      0.008      2.488      0.013       0.004       0.035
sql                                  0.0101      0.007      1.526      0.127      -0.003       0.023
machine learning                     0.0555      0.008      6.993      0.000       0.040       0.071
hadoop                               0.0381      0.010      3.818      0.000       0.019       0.058
spark                                0.0273      0.011      2.579      0.010       0.007       0.048
tableau                             -0.0202      0.009     -2.340      0.019      -0.037      -0.003
datamining                          -0.0287      0.009     -3.147      0.002      -0.047      -0.011
bigdata                             -0.0207      0.011     -1.956      0.051      -0.041    5.06e-05
aws                                  0.0544      0.011      4.835      0.000       0.032       0.076
scala                                0.0180      0.012      1.554      0.120      -0.005       0.041
c/c++                                0.0307      0.012      2.558      0.011       0.007       0.054
linux                               -0.0390      0.013     -3.022      0.003      -0.064      -0.014
tensorflow                           0.0266      0.013      1.980      0.048       0.000       0.053
kafka                                0.0497      0.014      3.499      0.000       0.022       0.077
azure                               -0.0745      0.014     -5.260      0.000      -0.102      -0.047
pig                                 -0.0570      0.015     -3.710      0.000      -0.087      -0.027
git                                 -0.0330      0.015     -2.239      0.025      -0.062      -0.004
softwaredevelopment                  0.0368      0.016      2.251      0.024       0.005       0.069
docker                              -0.0892      0.018     -4.885      0.000      -0.125      -0.053
s3                                  -0.0311      0.020     -1.552      0.121      -0.070       0.008
==============================================================================
Omnibus:                     3255.896   Durbin-Watson:                   0.106
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            21085.020
Skew:                           2.951   Prob(JB):                         0.00
Kurtosis:                      10.580   Cond. No.                         7.89
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [41]:
# 'Sal_Ind_Cat4-5-6', 'Consulting and Business Services' - Short
X = df1[[
    'CA', \
    'NY', \
    'MA', \
    'VA', \
    'DC', \
    'Consulting and Business Services', \
    'python', \
    'sql', \
    'machine learning', \
    'hadoop', \
    'spark', \
    'tableau', \
    'datamining', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'c/c++',  \
    'linux', \
    'tensorflow', \
    'kafka', \
    'azure', \
    'pig', \
    'git', \
    'softwaredevelopment', \
    'docker', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Sal_Ind_Cat4-5-6']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
# X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:       Sal_Ind_Cat4-5-6   R-squared (uncentered):                   0.612
Model:                            OLS   Adj. R-squared (uncentered):              0.610
Method:                 Least Squares   F-statistic:                              331.5
Date:                Fri, 14 Aug 2020   Prob (F-statistic):                        0.00
Time:                        11:49:47   Log-Likelihood:                         -3074.7
No. Observations:                5483   AIC:                                      6201.
Df Residuals:                    5457   BIC:                                      6373.
Df Model:                          26
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
CA                                   0.3380      0.014     24.410      0.000       0.311       0.365
NY                                   0.2651      0.019     13.930      0.000       0.228       0.302
MA                                   0.1868      0.028      6.698      0.000       0.132       0.241
VA                                   0.1718      0.025      6.827      0.000       0.122       0.221
DC                                   0.1328      0.038      3.521      0.000       0.059       0.207
Consulting and Business Services     0.0681      0.018      3.799      0.000       0.033       0.103
python                               0.1615      0.013     12.373      0.000       0.136       0.187
sql                                 -0.0166      0.011     -1.493      0.136      -0.038       0.005
machine learning                     0.2028      0.013     15.317      0.000       0.177       0.229
hadoop                               0.1769      0.016     10.757      0.000       0.145       0.209
spark                                0.0871      0.017      4.989      0.000       0.053       0.121
tableau                             -0.0727      0.014     -5.103      0.000      -0.101      -0.045
datamining                          -0.0215      0.015     -1.432      0.152      -0.051       0.008
bigdata                              0.0572      0.017      3.283      0.001       0.023       0.091
aws                                  0.0927      0.019      5.003      0.000       0.056       0.129
scala                                0.1157      0.019      6.065      0.000       0.078       0.153
c/c++                                0.0490      0.020      2.477      0.013       0.010       0.088
linux                               -0.0203      0.021     -0.957      0.338      -0.062       0.021
tensorflow                          -0.0081      0.022     -0.365      0.715      -0.052       0.035
kafka                                0.0177      0.023      0.758      0.448      -0.028       0.064
azure                               -0.0419      0.024     -1.784      0.074      -0.088       0.004
pig                                  0.0548      0.025      2.166      0.030       0.005       0.104
git                                 -0.0325      0.024     -1.340      0.180      -0.080       0.015
softwaredevelopment                  0.0438      0.027      1.625      0.104      -0.009       0.097
docker                               0.1727      0.030      5.695      0.000       0.113       0.232
s3                                   0.1540      0.033      4.668      0.000       0.089       0.219
==============================================================================
Omnibus:                      131.258   Durbin-Watson:                   0.588
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               70.257
Skew:                           0.071   Prob(JB):                     5.54e-16
Kurtosis:                       2.464   Cond. No.                         9.07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [42]:
# 'Sal_Ind_Cat4-5-6', 'Consulting and Business Services' - Short
X = df1[[
    'python'
       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['>160000']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
# X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                >160000   R-squared (uncentered):                   0.057
Model:                            OLS   Adj. R-squared (uncentered):              0.056
Method:                 Least Squares   F-statistic:                              328.6
Date:                Fri, 14 Aug 2020   Prob (F-statistic):                    2.22e-71
Time:                        11:49:47   Log-Likelihood:                         -497.62
No. Observations:                5483   AIC:                                      997.2
Df Residuals:                    5482   BIC:                                      1004.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
python         0.0833      0.005     18.129      0.000       0.074       0.092
==============================================================================
Omnibus:                     3431.267   Durbin-Watson:                   0.050
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            23963.659
Skew:                           3.128   Prob(JB):                         0.00
Kurtosis:                      11.108   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [43]:
# 'Sal_Ind_Cat4-5-6',     
# 'Consulting and Business Services', \
# 'Internet and Software', \
#     'Banks and Financial Services', \
#     'Health Care', \
#     'Insurance', 
# - Short

X = df1[[
    'Consulting and Business Services', \
    'Internet and Software', \
    'Banks and Financial Services', \
    'Health Care', \
    'Insurance',
    'python', \
    'sql', \
    'machine learning', \
    'hadoop', \
    'spark', \
    'tableau', \
    'datamining', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'c/c++',  \
    'linux', \
    'tensorflow', \
    'kafka', \
    'azure', \
    'pig', \
    'git', \
    'softwaredevelopment', \
    'docker', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Sal_Ind_Cat4-5-6']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
# X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:       Sal_Ind_Cat4-5-6   R-squared (uncentered):                   0.572
Model:                            OLS   Adj. R-squared (uncentered):              0.570
Method:                 Least Squares   F-statistic:                              291.5
Date:                Fri, 14 Aug 2020   Prob (F-statistic):                        0.00
Time:                        11:49:47   Log-Likelihood:                         -3347.8
No. Observations:                5483   AIC:                                      6746.
Df Residuals:                    5458   BIC:                                      6911.
Df Model:                          25
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Consulting and Business Services     0.1245      0.019      6.630      0.000       0.088       0.161
Internet and Software                0.1915      0.019      9.860      0.000       0.153       0.230
Banks and Financial Services         0.1156      0.022      5.224      0.000       0.072       0.159
Health Care                         -0.0022      0.026     -0.085      0.932      -0.054       0.049
Insurance                            0.0716      0.032      2.259      0.024       0.009       0.134
python                               0.2044      0.014     15.030      0.000       0.178       0.231
sql                                  0.0264      0.012      2.255      0.024       0.003       0.049
machine learning                     0.2481      0.014     18.021      0.000       0.221       0.275
hadoop                               0.1736      0.017     10.008      0.000       0.140       0.208
spark                                0.1034      0.018      5.611      0.000       0.067       0.140
tableau                             -0.0547      0.015     -3.657      0.000      -0.084      -0.025
datamining                          -0.0265      0.016     -1.680      0.093      -0.058       0.004
bigdata                              0.0289      0.018      1.577      0.115      -0.007       0.065
aws                                  0.1206      0.020      6.184      0.000       0.082       0.159
scala                                0.1149      0.020      5.726      0.000       0.076       0.154
c/c++                                0.0671      0.021      3.223      0.001       0.026       0.108
linux                               -0.0394      0.022     -1.769      0.077      -0.083       0.004
tensorflow                           0.0055      0.023      0.235      0.814      -0.040       0.051
kafka                                0.0294      0.025      1.197      0.231      -0.019       0.078
azure                               -0.1080      0.025     -4.405      0.000      -0.156      -0.060
pig                                  0.0545      0.027      2.051      0.040       0.002       0.107
git                                 -0.0367      0.026     -1.436      0.151      -0.087       0.013
softwaredevelopment                  0.0651      0.028      2.305      0.021       0.010       0.121
docker                               0.1502      0.032      4.757      0.000       0.088       0.212
s3                                   0.1452      0.035      4.188      0.000       0.077       0.213
==============================================================================
Omnibus:                      146.998   Durbin-Watson:                   0.530
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               72.902
Skew:                          -0.014   Prob(JB):                     1.48e-16
Kurtosis:                       2.436   Cond. No.                         7.94
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [44]:
# 'Sal_Ind_Cat4-5-6',     
# 'Consulting and Business Services', \
# 'Internet and Software', \
#     'Banks and Financial Services', \
#     'Health Care', \
#     'Insurance', 
# - Short

X = df1[[
    'Consulting and Business Services', \
    'Internet and Software', \
    'Banks and Financial Services', \
    'Insurance',
    'python', \
    'sql', \
    'machine learning', \
    'hadoop', \
    'spark', \
    'tableau', \
    'datamining', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'c/c++',  \
    'linux', \
    'azure', \
    'pig', \
    'softwaredevelopment', \
    'docker', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Sal_Ind_Cat4-5-6']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
# X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:       Sal_Ind_Cat4-5-6   R-squared (uncentered):                   0.571
Model:                            OLS   Adj. R-squared (uncentered):              0.570
Method:                 Least Squares   F-statistic:                              346.9
Date:                Fri, 14 Aug 2020   Prob (F-statistic):                        0.00
Time:                        11:49:47   Log-Likelihood:                         -3349.4
No. Observations:                5483   AIC:                                      6741.
Df Residuals:                    5462   BIC:                                      6880.
Df Model:                          21
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Consulting and Business Services     0.1242      0.019      6.635      0.000       0.088       0.161
Internet and Software                0.1926      0.019      9.957      0.000       0.155       0.231
Banks and Financial Services         0.1156      0.022      5.236      0.000       0.072       0.159
Insurance                            0.0708      0.032      2.245      0.025       0.009       0.133
python                               0.2033      0.014     14.971      0.000       0.177       0.230
sql                                  0.0251      0.012      2.174      0.030       0.002       0.048
machine learning                     0.2475      0.013     18.716      0.000       0.222       0.273
hadoop                               0.1756      0.017     10.172      0.000       0.142       0.209
spark                                0.1067      0.018      5.843      0.000       0.071       0.142
tableau                             -0.0539      0.015     -3.615      0.000      -0.083      -0.025
datamining                          -0.0267      0.016     -1.703      0.089      -0.058       0.004
bigdata                              0.0310      0.018      1.700      0.089      -0.005       0.067
aws                                  0.1204      0.019      6.194      0.000       0.082       0.158
scala                                0.1195      0.020      6.086      0.000       0.081       0.158
c/c++                                0.0667      0.021      3.215      0.001       0.026       0.107
linux                               -0.0438      0.022     -1.996      0.046      -0.087      -0.001
azure                               -0.1103      0.024     -4.509      0.000      -0.158      -0.062
pig                                  0.0547      0.027      2.059      0.039       0.003       0.107
softwaredevelopment                  0.0639      0.028      2.265      0.024       0.009       0.119
docker                               0.1489      0.031      4.762      0.000       0.088       0.210
s3                                   0.1453      0.035      4.195      0.000       0.077       0.213
==============================================================================
Omnibus:                      146.243   Durbin-Watson:                   0.529
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               72.659
Skew:                          -0.015   Prob(JB):                     1.67e-16
Kurtosis:                       2.437   Cond. No.                         7.87
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [45]:
# 'Sal_Ind_Cat4-5-6',     
# 'Consulting and Business Services', \
# 'Internet and Software', \
#     'Banks and Financial Services', \
#     'Health Care', \
#     'Insurance', 
# - Long

X = df1[[
    'Consulting and Business Services', \
    'Internet and Software', \
    'Banks and Financial Services', \
    'Health Care', \
    'Insurance',
    'python', \
    'sql', \
    'machine learning', \
    'r', \
    'hadoop', \
    'spark', \
    'java', \
    'tableau', \
    'datamining', \
    'hive', 'sas', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'nosql',  \
    'c/c++',  \
    'naturallanguageprocessing', \
    'oracle', \
    'datawarehouse', \
    'linux', \
    'ai', \
    'microsoftsqlserver', \
    'tensorflow', \
    'kafka', \
    'dataanalysis', \
    'azure', \
    'matlab', \
    'microsoftoffice', \
    'scripting', \
    'pig', \
    'git', \
    'microsoftpowerpoint', \
    'excel', \
    'designexperience', \
    'javascript', \
    'hbase', \
    'cassandra', \
    'postgresql', \
    'mysql', \
    'perl', \
    'spss', \
    'softwaredevelopment', \
    'shellscripting', \
    'datascience', \
    'docker', \
    'mongodb', \
    '.net', \
    'projectmanagement', \
    'businessintelligence', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Sal_Ind_Cat4-5-6']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
# X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:       Sal_Ind_Cat4-5-6   R-squared (uncentered):                   0.581
Model:                            OLS   Adj. R-squared (uncentered):              0.577
Method:                 Least Squares   F-statistic:                              136.9
Date:                Fri, 14 Aug 2020   Prob (F-statistic):                        0.00
Time:                        11:49:47   Log-Likelihood:                         -3287.1
No. Observations:                5483   AIC:                                      6684.
Df Residuals:                    5428   BIC:                                      7048.
Df Model:                          55
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Consulting and Business Services     0.1234      0.019      6.502      0.000       0.086       0.161
Internet and Software                0.1863      0.020      9.527      0.000       0.148       0.225
Banks and Financial Services         0.0961      0.022      4.274      0.000       0.052       0.140
Health Care                         -0.0069      0.027     -0.258      0.797      -0.059       0.045
Insurance                            0.0840      0.032      2.643      0.008       0.022       0.146
python                               0.2016      0.015     13.064      0.000       0.171       0.232
sql                                  0.0290      0.014      2.115      0.034       0.002       0.056
machine learning                     0.2307      0.015     15.722      0.000       0.202       0.259
r                                   -0.0368      0.016     -2.330      0.020      -0.068      -0.006
hadoop                               0.1538      0.018      8.431      0.000       0.118       0.190
spark                                0.1074      0.019      5.762      0.000       0.071       0.144
java                                 0.0251      0.018      1.365      0.172      -0.011       0.061
tableau                             -0.0422      0.015     -2.727      0.006      -0.073      -0.012
datamining                          -0.0277      0.016     -1.708      0.088      -0.060       0.004
hive                                 0.0016      0.021      0.074      0.941      -0.040       0.043
sas                                  0.0015      0.019      0.076      0.939      -0.036       0.039
bigdata                              0.0320      0.018      1.741      0.082      -0.004       0.068
aws                                  0.1090      0.020      5.483      0.000       0.070       0.148
scala                                0.0988      0.021      4.644      0.000       0.057       0.140
nosql                               -0.0082      0.023     -0.361      0.718      -0.053       0.036
c/c++                                0.0197      0.023      0.871      0.384      -0.025       0.064
naturallanguageprocessing            0.0806      0.022      3.656      0.000       0.037       0.124
oracle                               0.0117      0.022      0.521      0.602      -0.032       0.056
datawarehouse                        0.0604      0.022      2.802      0.005       0.018       0.103
linux                               -0.0446      0.024     -1.855      0.064      -0.092       0.003
ai                                   0.0370      0.023      1.608      0.108      -0.008       0.082
microsoftsqlserver                  -0.0500      0.024     -2.116      0.034      -0.096      -0.004
tensorflow                          -0.0056      0.024     -0.234      0.815      -0.052       0.041
kafka                                0.0295      0.025      1.159      0.247      -0.020       0.079
dataanalysis                         0.0238      0.022      1.070      0.285      -0.020       0.067
azure                               -0.1280      0.025     -5.098      0.000      -0.177      -0.079
matlab                               0.1308      0.025      5.243      0.000       0.082       0.180
microsoftoffice                     -0.0727      0.026     -2.831      0.005      -0.123      -0.022
scripting                           -0.0082      0.029     -0.282      0.778      -0.066       0.049
pig                                  0.0246      0.030      0.829      0.407      -0.034       0.083
git                                 -0.0391      0.026     -1.526      0.127      -0.089       0.011
microsoftpowerpoint                  0.0061      0.028      0.221      0.825      -0.048       0.060
excel                               -0.0363      0.026     -1.391      0.164      -0.088       0.015
designexperience                     0.1210      0.027      4.424      0.000       0.067       0.175
javascript                           0.0150      0.029      0.511      0.609      -0.042       0.072
hbase                                0.0176      0.031      0.568      0.570      -0.043       0.078
cassandra                            0.0099      0.033      0.297      0.767      -0.055       0.075
postgresql                           0.0133      0.031      0.435      0.663      -0.047       0.073
mysql                                0.0502      0.030      1.671      0.095      -0.009       0.109
perl                                 0.0487      0.030      1.628      0.104      -0.010       0.107
spss                                -0.0152      0.031     -0.493      0.622      -0.076       0.045
softwaredevelopment                  0.0485      0.029      1.701      0.089      -0.007       0.104
shellscripting                      -0.0038      0.040     -0.095      0.924      -0.082       0.075
datascience                          0.0045      0.030      0.150      0.880      -0.054       0.062
docker                               0.1362      0.032      4.276      0.000       0.074       0.199
mongodb                             -0.0650      0.034     -1.932      0.053      -0.131       0.001
.net                                 0.0360      0.033      1.097      0.273      -0.028       0.100
projectmanagement                    0.0903      0.031      2.938      0.003       0.030       0.151
businessintelligence                 0.0180      0.033      0.545      0.586      -0.047       0.083
s3                                   0.1453      0.035      4.161      0.000       0.077       0.214
==============================================================================
Omnibus:                      130.611   Durbin-Watson:                   0.542
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               68.003
Skew:                          -0.040   Prob(JB):                     1.71e-15
Kurtosis:                       2.460   Cond. No.                         11.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [46]:
# 'Sal_Ind_Cat4-5-6',     
# 'Consulting and Business Services', \
# 'Internet and Software', \
#     'Banks and Financial Services', \
#     'Health Care', \
#     'Insurance', 
# - Long

X = df1[[
    'Consulting and Business Services', \
    'Internet and Software', \
    'Banks and Financial Services', \
    'Health Care', \
    'Insurance',
    'python', \
    'sql', \
    'machine learning', \
    'r', \
    'hadoop', \
    'spark', \
    'java', \
    'tableau', \
    'datamining', \
    'hive', 'sas', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'nosql',  \
    'c/c++',  \
    'naturallanguageprocessing', \
    'oracle', \
    'datawarehouse', \
    'linux', \
    'ai', \
    'microsoftsqlserver', \
    'tensorflow', \
    'kafka', \
    'dataanalysis', \
    'azure', \
    'matlab', \
    'microsoftoffice', \
    'scripting', \
    'pig', \
    'git', \
    'microsoftpowerpoint', \
    'excel', \
    'designexperience', \
    'javascript', \
    'hbase', \
    'cassandra', \
    'postgresql', \
    'mysql', \
    'perl', \
    'spss', \
    'softwaredevelopment', \
    'shellscripting', \
    'datascience', \
    'docker', \
    'mongodb', \
    '.net', \
    'projectmanagement', \
    'businessintelligence', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Sal_Ind_Cat4-5-6']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
# X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:       Sal_Ind_Cat4-5-6   R-squared (uncentered):                   0.581
Model:                            OLS   Adj. R-squared (uncentered):              0.577
Method:                 Least Squares   F-statistic:                              136.9
Date:                Fri, 14 Aug 2020   Prob (F-statistic):                        0.00
Time:                        11:49:47   Log-Likelihood:                         -3287.1
No. Observations:                5483   AIC:                                      6684.
Df Residuals:                    5428   BIC:                                      7048.
Df Model:                          55
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Consulting and Business Services     0.1234      0.019      6.502      0.000       0.086       0.161
Internet and Software                0.1863      0.020      9.527      0.000       0.148       0.225
Banks and Financial Services         0.0961      0.022      4.274      0.000       0.052       0.140
Health Care                         -0.0069      0.027     -0.258      0.797      -0.059       0.045
Insurance                            0.0840      0.032      2.643      0.008       0.022       0.146
python                               0.2016      0.015     13.064      0.000       0.171       0.232
sql                                  0.0290      0.014      2.115      0.034       0.002       0.056
machine learning                     0.2307      0.015     15.722      0.000       0.202       0.259
r                                   -0.0368      0.016     -2.330      0.020      -0.068      -0.006
hadoop                               0.1538      0.018      8.431      0.000       0.118       0.190
spark                                0.1074      0.019      5.762      0.000       0.071       0.144
java                                 0.0251      0.018      1.365      0.172      -0.011       0.061
tableau                             -0.0422      0.015     -2.727      0.006      -0.073      -0.012
datamining                          -0.0277      0.016     -1.708      0.088      -0.060       0.004
hive                                 0.0016      0.021      0.074      0.941      -0.040       0.043
sas                                  0.0015      0.019      0.076      0.939      -0.036       0.039
bigdata                              0.0320      0.018      1.741      0.082      -0.004       0.068
aws                                  0.1090      0.020      5.483      0.000       0.070       0.148
scala                                0.0988      0.021      4.644      0.000       0.057       0.140
nosql                               -0.0082      0.023     -0.361      0.718      -0.053       0.036
c/c++                                0.0197      0.023      0.871      0.384      -0.025       0.064
naturallanguageprocessing            0.0806      0.022      3.656      0.000       0.037       0.124
oracle                               0.0117      0.022      0.521      0.602      -0.032       0.056
datawarehouse                        0.0604      0.022      2.802      0.005       0.018       0.103
linux                               -0.0446      0.024     -1.855      0.064      -0.092       0.003
ai                                   0.0370      0.023      1.608      0.108      -0.008       0.082
microsoftsqlserver                  -0.0500      0.024     -2.116      0.034      -0.096      -0.004
tensorflow                          -0.0056      0.024     -0.234      0.815      -0.052       0.041
kafka                                0.0295      0.025      1.159      0.247      -0.020       0.079
dataanalysis                         0.0238      0.022      1.070      0.285      -0.020       0.067
azure                               -0.1280      0.025     -5.098      0.000      -0.177      -0.079
matlab                               0.1308      0.025      5.243      0.000       0.082       0.180
microsoftoffice                     -0.0727      0.026     -2.831      0.005      -0.123      -0.022
scripting                           -0.0082      0.029     -0.282      0.778      -0.066       0.049
pig                                  0.0246      0.030      0.829      0.407      -0.034       0.083
git                                 -0.0391      0.026     -1.526      0.127      -0.089       0.011
microsoftpowerpoint                  0.0061      0.028      0.221      0.825      -0.048       0.060
excel                               -0.0363      0.026     -1.391      0.164      -0.088       0.015
designexperience                     0.1210      0.027      4.424      0.000       0.067       0.175
javascript                           0.0150      0.029      0.511      0.609      -0.042       0.072
hbase                                0.0176      0.031      0.568      0.570      -0.043       0.078
cassandra                            0.0099      0.033      0.297      0.767      -0.055       0.075
postgresql                           0.0133      0.031      0.435      0.663      -0.047       0.073
mysql                                0.0502      0.030      1.671      0.095      -0.009       0.109
perl                                 0.0487      0.030      1.628      0.104      -0.010       0.107
spss                                -0.0152      0.031     -0.493      0.622      -0.076       0.045
softwaredevelopment                  0.0485      0.029      1.701      0.089      -0.007       0.104
shellscripting                      -0.0038      0.040     -0.095      0.924      -0.082       0.075
datascience                          0.0045      0.030      0.150      0.880      -0.054       0.062
docker                               0.1362      0.032      4.276      0.000       0.074       0.199
mongodb                             -0.0650      0.034     -1.932      0.053      -0.131       0.001
.net                                 0.0360      0.033      1.097      0.273      -0.028       0.100
projectmanagement                    0.0903      0.031      2.938      0.003       0.030       0.151
businessintelligence                 0.0180      0.033      0.545      0.586      -0.047       0.083
s3                                   0.1453      0.035      4.161      0.000       0.077       0.214
==============================================================================
Omnibus:                      130.611   Durbin-Watson:                   0.542
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               68.003
Skew:                          -0.040   Prob(JB):                     1.71e-15
Kurtosis:                       2.460   Cond. No.                         11.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [47]:
# 'Sal_Ind_Cat4-5-6',     
# 'Consulting and Business Services', \
# 'Internet and Software', \
#     'Banks and Financial Services', \
#     'Health Care', \
#     'Insurance', 
# - Long

X = df1[[
    'Consulting and Business Services', \
    'Internet and Software', \
    'Banks and Financial Services', \
    'Health Care', \
    'Insurance',
    'python', \
    'sql', \
    'machine learning', \
    'hadoop', \
    'spark', \
    'java', \
    'datamining', \
    'aws',  \
    'scala',  \
    'nosql',  \
    'naturallanguageprocessing', \
    'oracle', \
    'datawarehouse', \
    'ai', \
    'microsoftsqlserver', \
    'kafka', \
    'dataanalysis', \
    'azure', \
    'matlab', \
    'microsoftoffice', \
    'pig', \
    'microsoftpowerpoint', \
    'designexperience', \
    'cassandra', \
    'perl', \
    'softwaredevelopment', \
    'projectmanagement', \
    'businessintelligence', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Salary_Index']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
# X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:           Salary_Index   R-squared (uncentered):                   0.807
Model:                            OLS   Adj. R-squared (uncentered):              0.806
Method:                 Least Squares   F-statistic:                              670.9
Date:                Fri, 14 Aug 2020   Prob (F-statistic):                        0.00
Time:                        11:49:48   Log-Likelihood:                         -10368.
No. Observations:                5483   AIC:                                  2.080e+04
Df Residuals:                    5449   BIC:                                  2.103e+04
Df Model:                          34
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Consulting and Business Services     1.0546      0.067     15.854      0.000       0.924       1.185
Internet and Software                1.0789      0.070     15.347      0.000       0.941       1.217
Banks and Financial Services         0.7918      0.081      9.786      0.000       0.633       0.950
Health Care                          0.4789      0.096      5.006      0.000       0.291       0.666
Insurance                            0.7759      0.114      6.797      0.000       0.552       1.000
python                               1.1709      0.050     23.426      0.000       1.073       1.269
sql                                  0.7871      0.046     17.071      0.000       0.697       0.877
machine learning                     1.2526      0.051     24.570      0.000       1.153       1.353
hadoop                               0.4868      0.062      7.800      0.000       0.364       0.609
spark                                0.3791      0.066      5.759      0.000       0.250       0.508
java                                 0.2871      0.057      5.063      0.000       0.176       0.398
datamining                           0.1620      0.057      2.836      0.005       0.050       0.274
aws                                  0.5781      0.070      8.234      0.000       0.440       0.716
scala                                0.2618      0.076      3.443      0.001       0.113       0.411
nosql                               -0.1954      0.080     -2.434      0.015      -0.353      -0.038
naturallanguageprocessing            0.2593      0.079      3.297      0.001       0.105       0.413
oracle                               0.2631      0.080      3.293      0.001       0.106       0.420
datawarehouse                        0.3253      0.077      4.200      0.000       0.173       0.477
ai                                   0.1692      0.082      2.062      0.039       0.008       0.330
microsoftsqlserver                   0.2049      0.085      2.417      0.016       0.039       0.371
kafka                                0.3300      0.091      3.643      0.000       0.152       0.508
dataanalysis                         0.3695      0.080      4.627      0.000       0.213       0.526
azure                               -0.5420      0.089     -6.062      0.000      -0.717      -0.367
matlab                               0.4795      0.086      5.564      0.000       0.311       0.648
microsoftoffice                      0.2589      0.093      2.795      0.005       0.077       0.440
pig                                 -0.2499      0.098     -2.562      0.010      -0.441      -0.059
microsoftpowerpoint                  0.2737      0.099      2.776      0.006       0.080       0.467
designexperience                     0.5828      0.098      5.956      0.000       0.391       0.775
cassandra                            0.2719      0.111      2.443      0.015       0.054       0.490
perl                                 0.2559      0.103      2.478      0.013       0.053       0.458
softwaredevelopment                  0.5046      0.102      4.936      0.000       0.304       0.705
projectmanagement                    0.7171      0.110      6.492      0.000       0.501       0.934
businessintelligence                 0.3891      0.118      3.292      0.001       0.157       0.621
s3                                   0.2568      0.125      2.053      0.040       0.012       0.502
==============================================================================
Omnibus:                      136.957   Durbin-Watson:                   1.150
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              152.792
Skew:                           0.361   Prob(JB):                     6.63e-34
Kurtosis:                       3.383   Cond. No.                         8.23
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [48]:
# def cramers_V(var1,var2):
#   # Cross table building
#   crosstab =np.array(pd.crosstab(var1,var2, rownames=None, colnames=None)) 
#   # Keeping of the test statistic of the Chi2 test
#   stat = chi2_contingency(crosstab)[0] 
#   obs = np.sum(crosstab) # Number of observations
#   # Take the minimum value between the columns and the rows of the cross table
#   mini = min(crosstab.shape)-1 
#   return (stat/(obs*mini))

# rows= []

# for var1 in data_encoded:
#   col = []
#   for var2 in data_encoded :
#     cramers =cramers_V(data_encoded[var1], data_encoded[var2]) # Cramer's V test
#     col.append(round(cramers,2)) # Keeping of the rounded value of the Cramer's V  
#   rows.append(col)
  
# cramers_results = np.array(rows)
# df = pd.DataFrame(cramers_results, columns = data_encoded.columns, index =data_encoded.columns)

In [49]:
# def cramers_v(x, y):
#     confusion_matrix = pd.crosstab(x,y)
#     chi2 = ss.chi2_contingency(confusion_matrix)[0]
#     n = confusion_matrix.sum().sum()
#     phi2 = chi2/n
#     r,k = confusion_matrix.shape
#     phi2corr = max(0, phi2-((k-1)*(r-1))/(n-1))
#     rcorr = r-((r-1)**2)/(n-1)
#     kcorr = k-((k-1)**2)/(n-1)
#     return np.sqrt(phi2corr/min((kcorr-1),(rcorr-1)))

# def correlation_ratio(categories, measurements):
#     fcat, _ = pd.factorize(categories)
#     cat_num = np.max(fcat)+1
#     y_avg_array = np.zeros(cat_num)
#     n_array = np.zeros(cat_num)
#     for i in range(0,cat_num):
#         cat_measures = measurements[np.argwhere(fcat == i).flatten()]
#         n_array[i] = len(cat_measures)
#         y_avg_array[i] = np.average(cat_measures)
#     y_total_avg = np.sum(np.multiply(y_avg_array,n_array))/np.sum(n_array)
#     numerator = np.sum(np.multiply(n_array,np.power(np.subtract(y_avg_array,y_total_avg),2)))
#     denominator = np.sum(np.power(np.subtract(measurements,y_total_avg),2))
#     if numerator == 0:
#         eta = 0.0
#     else:
#         eta = np.sqrt(numerator/denominator)
#     return eta

In [50]:
# Stock_Market = {'Year': [2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016],
#                 'Month': [12, 11,10,9,8,7,6,5,4,3,2,1,12,11,10,9,8,7,6,5,4,3,2,1],
#                 'Interest_Rate': [2.75,2.5,2.5,2.5,2.5,2.5,2.5,2.25,2.25,2.25,2,2,2,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75],
#                 'Unemployment_Rate': [5.3,5.3,5.3,5.3,5.4,5.6,5.5,5.5,5.5,5.6,5.7,5.9,6,5.9,5.8,6.1,6.2,6.1,6.1,6.1,5.9,6.2,6.2,6.1],
#                 'Stock_Index_Price': [1464,1394,1357,1293,1256,1254,1234,1195,1159,1167,1130,1075,1047,965,943,958,971,949,884,866,876,822,704,719]        
#                 }

# df = pd.DataFrame(Stock_Market,columns=['Year','Month','Interest_Rate','Unemployment_Rate','Stock_Index_Price'])

# X = df[['Interest_Rate','Unemployment_Rate']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
# Y = df['Stock_Index_Price']
 
# # with sklearn
# regr = linear_model.LinearRegression()
# regr.fit(X, Y)

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

# # prediction with sklearn
# New_Interest_Rate = 2.75
# New_Unemployment_Rate = 5.3
# print ('Predicted Stock Index Price: \n', regr.predict([[New_Interest_Rate ,New_Unemployment_Rate]]))

# # with statsmodels
# X = sm.add_constant(X) # adding a constant
 
# model = sm.OLS(Y, X).fit()
# predictions = model.predict(X) 
 
# print_model = model.summary()
# print(print_model)

In [51]:
############ mcnemar test
# dfx = pd.DataFrame(np.random.randint(2, size= (90, 2)),
#                   columns= ['time1', 'time2'])

# crosstab, res = researchpy.crosstab(dfx['time1'], dfx['time2'], test= "mcnemar")

# crosstab
# res

#############
# crosstab1, res1 = researchpy.crosstab(df_cram_1['python'],df_cram_1['>160000'],  test= "mcnemar")

# crosstab1
# res1

In [52]:
#######
# replacement_list = ['Insurance',
# 'Health Care',
# 'Media, News and Publishing',
# 'Telecommunications',
# 'Industrial Manufacturing',
# 'Pharmaceuticals',
# 'Retail',
# 'Aerospace and Defense',
# 'Auto',
# 'Consumer Goods and Services',
# 'Real Estate',
# 'Construction',
# 'Energy and Utilities',
# 'Restaurants, Travel and LeisureConsulting and Business Services',
# 'Transport and Freight']

# for i in replacement_list:
#     df_ind1=df_ind.replace({i : 'Other'})
# df_ind1

# for index, row in df_ind1.iterrows():
#     row['1'] = "I am working!"


# for i, row in df_ind.iterrows():
#     df_ind1=df_ind.loc[i,'price_new']  = i 

# for i in replacement_list:
#     df_ind1=df_ind.replace(i : 'Other')
# df_ind1

#######
# Salary_Index = df.iloc[:,4]
# No_of_Skills = df.iloc[:,7]
# correlation = st.pearsonr(Salary_Index,No_of_Skills)

In [53]:
output_data_v1 = df_ind2.to_csv(r'../04._Output/output_data_v1.csv')