In [1]:
%matplotlib inline

In [2]:
import gmaps
import numpy as np
import pandas as pd
import os
import scipy.stats as st
from scipy.stats import chi2_contingency
import matplotlib
matplotlib.use('TkAgg') 
import matplotlib.pyplot as plt
import seaborn as sns
import researchpy
from scipy.stats import chisquare
from scipy.stats import linregress
from sklearn import linear_model
import statsmodels.api as sm
 

# # Google developer API key
# from config import gkey

# # Configure gmaps
# gmaps.configure(api_key=gkey)

#This is the general/common section
path = pd.read_csv('../01._Prospective_Project_Data/1._72199_158097_compressed_indeed_job_dataset.csv/indeed_job_dataset_V3_CSV.csv')
df = pd.DataFrame(path)
df

# df.fillna(0) 
# df

path2 = pd.read_csv('../01._Prospective_Project_Data/BLS_Data/OES_Report-V2.csv')
BLS_df = pd.DataFrame(path2)
BLS_df
BLS_df["Annual mean wage(2)"] = BLS_df["Annual mean wage(2)"].str.replace(",","")
BLS_df["Annual mean wage(2)"] = BLS_df["Annual mean wage(2)"].astype("float64")
BLS_df = BLS_df.groupby('State_Two-Letter').agg({"Annual mean wage(2)":"mean"}).reset_index()
# # BLS_df
# # BLS_df = pd.DataFrame(BLS_df).mean()
BLS_df

path3 = pd.read_csv('../01._Prospective_Project_Data/Consumer_Price_Data/CPI_Data_V2_No_DC.csv')
CPI_df = pd.DataFrame(path3)
CPI_df

df_grouped= df.groupby('Location')['Salary_Index'].agg(['mean','median', 'var', 'std', 'sem']).reset_index()
df_grouped = pd.DataFrame(df_grouped)
df_grouped
df_grouped

df_grouped = df_grouped.rename(columns={'Location':'State_Two-Letter'})
df_grouped

merge_df = pd.merge(BLS_df, df_grouped, how='left', on='State_Two-Letter')      
merge_df
merge_df = pd.merge(merge_df, CPI_df, how='left', on='State_Two-Letter')      
merge_df

,State_Two-Letter,Annual mean wage(2),mean,median,var,std,sem,State,costIndex,costRank,groceryCost,housingCost,utilitiesCost,transportationCost,miscCost
0,AK,59290.0,NaN,NaN,NaN,NaN,NaN,Alaska,129.9,45.0,134.2,133.9,154.2,130.8,150.9
1,AL,44930.0,2.529412,2.0,0.889706,0.943242,0.228770,Alabama,89.3,11.0,97.4,71.5,103.3,88.6,90.8
2,AR,42690.0,2.714286,3.0,1.470899,1.212806,0.229199,Arkansas,86.9,2.0,92.0,73.9,91.8,83.6,85.6
3,AZ,50930.0,2.792453,3.0,1.206096,1.098224,0.150853,Arizona,97.0,24.0,96.9,91.7,107.4,109.6,94.7
4,CA,61290.0,3.969176,4.0,2.131761,1.460055,0.039091,California,151.7,49.0,121.4,227.3,117.7,138.9,114.5
5,CO,57690.0,2.963303,3.0,1.350493,1.162107,0.111310,Colorado,105.6,33.0,102.5,119.0,88.4,101.2,102.9
6,CT,62350.0,2.933333,3.0,1.927928,1.388498,0.160330,Connecticut,127.7,43.0,114.2,144.7,128.1,111.8,113.7
7,DC,89800.0,3.107143,3.0,1.549589,1.244825,0.105207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,DE,54370.0,3.470588,3.0,1.639706,1.280510,0.310569,Delaware,108.1,35.0,113.4,98.2,96.5,107.0,101.6
9,FL,47750.0,2.514563,3.0,1.546354,1.243525,0.122528,Florida,97.9,26.0,104.0,95.4,102.2,96.7,96.9
10,GA,49620.0,2.589928,2.0,1.678449,1.295550,0.109887,Georgia,89.2,9.0,96.9,73.8,92.4,97.6,98.5
11,HI,54930.0,2.833333,3.0,1.766667,1.329160,0.542627,Hawaii,192.9,51.0,169.3,318.6,172.7,148.6,116.8
12,IA,47330.0,2.666667,3.0,1.126437,1.061337,0.193773,Iowa,90.1,13.0,95.9,79.6,95.3,95.5,97.8
13,ID,44890.0,2.500000,3.0,0.700000,0.836660,0.341565,Idaho,92.3,19.0,92.2,87.1,82.9,106.7,97.3
14,IL,55130.0,3.095833,3.0,1.358978,1.165752,0.075249,Illinois,94.5,21.0,94.2,87.2,100.9,100.9,99.0
15,IN,46770.0,2.521739,2.0,1.588406,1.260320,0.185824,Indiana,90.0,12.0,93.3,77.3,97.0,93.1,94.3
16,KS,46520.0,2.444444,3.0,0.777778,0.881917,0.293972,Kansas,89.0,8.0,91.9,73.8,103.0,92.3,98.9
17,KY,44020.0,2.230769,2.0,2.025641,1.423250,0.394739,Kentucky,90.9,16.0,89.9,77.4,97.6,92.8,89.2
18,LA,44170.0,2.000000,2.0,1.200000,1.095445,0.447214,Louisiana,93.9,20.0,99.9,86.6,89.3,98.5,98.8
19,MA,65680.0,3.188192,3.0,2.064453,1.436820,0.087281,Massachusetts,131.6,46.0,113.9,170.3,109.7,116.0,117.6
20,MD,60230.0,3.047337,3.0,1.759651,1.326518,0.102040,Maryland,129.7,44.0,108.5,184.5,107.3,116.7,89.2
21,ME,48470.0,2.000000,2.0,0.769231,0.877058,0.234404,Maine,117.5,40.0,107.0,123.1,116.1,121.4,121.8
22,MI,50780.0,2.482353,2.0,1.276471,1.129810,0.122545,Michigan,88.9,7.0,89.3,75.2,97.3,97.4,93.0
23,MN,55890.0,2.409091,2.0,1.445455,1.202271,0.147989,Minnesota,101.6,31.0,106.7,88.3,96.8,103.7,108.6
24,MO,47820.0,2.467532,2.0,1.462748,1.209441,0.137829,Missouri,87.1,4.0,96.6,70.6,99.6,87.3,95.7
25,MS,40090.0,NaN,NaN,NaN,NaN,NaN,Mississippi,86.1,1.0,91.6,70.1,89.1,89.2,91.4
26,MT,45370.0,3.000000,3.0,NaN,NaN,NaN,Montana,106.9,34.0,105.1,111.6,83.9,125.0,98.4
27,NC,48550.0,2.928058,3.0,1.444062,1.201691,0.101926,North Carolina,94.9,22.0,96.6,83.1,97.9,93.4,110.6
28,ND,50430.0,3.000000,3.0,NaN,NaN,NaN,North Dakota,98.8,28.0,108.1,90.3,93.6,104.3,111.7
29,NE,48250.0,2.400000,2.5,0.488889,0.699206,0.221108,Nebraska,90.8,14.0,95.5,80.9,90.8,94.3,99.9
30,NH,53950.0,2.714286,2.0,1.238095,1.112697,0.420560,New Hampshire,109.7,37.0,100.4,110.3,119.5,111.4,116.1
31,NJ,59980.0,3.257812,3.0,2.287340,1.512395,0.133678,New Jersey,125.1,42.0,109.5,163.1,101.6,111.1,101.7
32,NM,47040.0,2.000000,2.0,1.000000,1.000000,0.447214,New Mexico,87.5,5.0,100.9,77.7,87.9,91.6,100.1
33,NV,47210.0,2.050000,2.0,0.892105,0.944513,0.211200,Nevada,108.5,36.0,108.3,121.8,89.0,123.5,105.7
34,NY,63970.0,3.725458,4.0,2.602834,1.613330,0.065809,New York,139.1,48.0,114.8,204.4,108.7,116.6,104.8
35,OH,49430.0,2.712963,3.0,1.440204,1.200085,0.115478,Ohio,90.8,15.0,98.7,73.6,91.8,96.7,97.6
36,OK,45620.0,2.500000,3.0,1.000000,1.000000,0.500000,Oklahoma,87.0,3.0,95.4,71.9,94.1,89.5,93.2
37,OR,53890.0,2.793651,3.0,1.940604,1.393056,0.175509,Oregon,134.2,47.0,110.3,181.8,88.0,136.7,113.2
38,PA,51340.0,2.539568,2.0,1.525597,1.235151,0.104764,Pennsylvania,101.7,32.0,106.9,100.8,106.0,109.5,91.9
39,RI,57220.0,2.857143,3.0,1.142857,1.069045,0.404061,Rhode Island,119.4,41.0,106.2,129.4,123.5,124.0,109.3
40,SC,44380.0,2.541667,2.5,1.476449,1.215092,0.248030,South Carolina,95.9,23.0,101.9,85.1,107.6,88.0,94.2
41,SD,42920.0,2.000000,2.0,NaN,NaN,NaN,South Dakota,99.8,29.0,107.0,109.8,91.8,89.8,103.0
42,TN,45650.0,2.545455,2.0,1.835095,1.354657,0.204222,Tennessee,88.7,6.0,93.3,80.2,93.4,89.7,88.5
43,TX,50490.0,2.866261,3.0,1.664986,1.290343,0.071139,Texas,91.5,18.0,88.9,85.3,102.3,91.4,96.2
44,UT,49420.0,2.352941,2.0,1.629234,1.276414,0.218903,Utah,98.4,27.0,98.5,93.6,89.4,108.6,96.0
45,VA,56740.0,3.389222,3.0,1.781986,1.334910,0.073043,Virginia,100.7,30.0,96.1,108.0,99.2,88.1,97.2
46,VT,51120.0,1.000000,1.0,0.000000,0.000000,0.000000,Vermont,114.5,39.0,111.3,126.7,120.2,119.9,101.2
47,WA,62020.0,3.396396,3.0,1.869308,1.367226,0.091762,Washington,110.7,38.0,107.8,117.8,88.7,121.7,118.9
48,WI,48850.0,2.717949,3.0,1.102564,1.050031,0.168139,Wisconsin,97.3,25.0,100.7,91.4,98.9,98.1,115.2
49,WV,43420.0,2.333333,2.0,0.333333,0.577350,0.333333,West Virginia,91.1,17.0,92.9,79.6,89.0,93.5,89.1
50,WY,49760.0,2.500000,2.5,0.500000,0.707107,0.500000,Wyoming,89.3,10.0,98.7,72.3,87.3,99.3,94.9

In [17]:
# Drop observations/rows with "0" values for "Number of Skills" column 
df_cleaned = df.dropna(subset=['No_of_Skills'])

# Examine df
# df_cleaned.head()
df_cleaned

,Index_No,Job_Title,Link,Queried_Salary,<80000,80000-99999,100000-119999,120000-139999,140000-159999,>160000,...,spss,softwaredevelopment,shellscripting,datascience,docker,mongodb,.net,projectmanagement,businessintelligence,s3
0,0.0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,1.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,3.0,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,4.0,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5710,5710.0,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=fbe2dd71643b3...,>160000,0.0,0.0,0.0,0.0,0.0,1.0,...,0,1,0,0,0,0,0,0,0,0
5711,5711.0,"Principal Data Engineer (Java, Spark, Storm, AWS)",https://www.indeed.com/rc/clk?jk=70ee8b9bb5a2b...,>160000,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,0,0,0
5712,5712.0,Executive Director- Architect: Data Engineerin...,https://www.indeed.com/rc/clk?jk=2c2a7f94f6ed1...,>160000,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,1
5713,5713.0,"Senior Manager, Data Engineering (hands on)",https://www.indeed.com/rc/clk?jk=1051e100b300b...,>160000,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,1,0,0,0,0,0
5714,5714.0,Principal Visual Analytics / Big Data Engineer...,https://www.indeed.com/rc/clk?jk=605a2c61478f1...,>160000,0.0,0.0,0.0,0.0,0.0,1.0,...,0,1,0,0,0,0,0,0,0,0

In [41]:
# # Select Columns to keep in df copy
df_cleaned.dtypes
df1 = df_cleaned.drop(columns="Link")
# df1 = df1.drop(columns="Description")
df1 = df1.drop(columns="Index_No")
# df1

df_sal = df1.groupby('Salary_Index')['python', 'sql','machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java', 'Others'].mean().reset_index()


df_sal = pd.DataFrame(df_sal)
df_sal

# df_sal = df_sal.rename(columns={'python mean': 'a'})
# df_sal
df_sal= df_sal.set_index(['Salary_Index'])
df_sal

Salary_List = ['<80000', '80000-99999', '100000-119999', '120000-139999', '140000-159999', '>160000']
df_sal['Salary_List'] = Salary_List
df_sal
df_sal = df_sal.set_index(['Salary_List'])
df_sal 

df_sal = df_sal.rename(columns = {'python':'Python', 'sql':'SQL','machine learning': 'Machine Learning', \
                                  'r': 'R', 'hadoop': 'Hadoop', 'tableau': 'Tableau', \
                                  'sas':'SAS', 'spark':'Spark', 'java':'Java'})


df_sal=df_sal.style.format("{:.2%}")
df_sal

# df_sal.columns

C:\Users\Colin Ek\anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [5]:
# Make DataFrame with just Salary_Index of 6, top income bracket
df1_6 = df1[df1['Salary_Index']==6]
len(df1_6['Salary_Index'])
# df1_6

408

In [6]:
df_ind = df1_6.loc[:,['Queried_Salary', 'Company_Industry']]
df_ind 

df_ind = df_ind.replace('', np.NaN)
df_ind

df_ind=df_ind.replace({'Insurance' : 'Other'})
df_ind=df_ind.replace({'Health Care' : 'Other'})
df_ind=df_ind.replace({'Media, News and Publishing' : 'Other'})
df_ind=df_ind.replace({'Telecommunications' : 'Other'})
df_ind=df_ind.replace({'Industrial Manufacturing' : 'Other'})
df_ind=df_ind.replace({'Pharmaceuticals' : 'Other'})
df_ind=df_ind.replace({'Retail' : 'Other'})
df_ind=df_ind.replace({'Aerospace and Defense' : 'Other'})
df_ind=df_ind.replace({'Auto' : 'Other'})
df_ind=df_ind.replace({'Consumer Goods and Services' : 'Other'})
df_ind=df_ind.replace({'Real Estate' : 'Other'})
df_ind=df_ind.replace({'Construction' : 'Other'})
df_ind=df_ind.replace({'Energy and Utilities' : 'Other'})
df_ind=df_ind.replace({'Restaurants, Travel and LeisureConsulting and Business Services' : 'Other'})
df_ind=df_ind.replace({'Transport and Freight' : 'Other'})
# df_ind

In [7]:
df_ind = df_ind['Company_Industry'].value_counts()
df_ind
df_ind_sum = pd.DataFrame ({"Industry": df_ind})
df_ind_sum

                                  Industry
Consulting and Business Services        80
Internet and Software                   50
Other                                   43
Banks and Financial Services            41
Human Resources and Staffing            30
Computers and Electronics               10

In [8]:
# df_ind.plot(kind = 'pie', autopct = '%1.1f%%')

In [9]:
# Top skills by industry
df1['Company_Industry'].value_counts()
# Top five industries are: 
# Consulting and Business Services                                   712
# Internet and Software                                              620
# Banks and Financial Services                                       455
# Health Care                                                        306
# Insurance                                                          214

df_ind2 = df1.loc[:,['Queried_Salary', 'Company_Industry']]
len(df_ind2 )

df_ind2 = df_ind2.replace('', np.NaN)
len(df_ind2)
sum(df_ind2['Company_Industry'].value_counts())
# 3,675 + 1,809 blanks = 5,484 total

# # df_ind2=df_ind2.replace({'Health Care' : 'Other'})
# # df_ind2=df_ind2.replace({'Insurance' : 'Other'})

df_ind2=df_ind2.replace({'Industrial Manufacturing' : 'Other'})
df_ind2=df_ind2.replace({'Aerospace and Defense' : 'Other'})
df_ind2=df_ind2.replace({'Retail' : 'Other'})
df_ind2=df_ind2.replace({'Education and Schools' : 'Other'})
df_ind2=df_ind2.replace({'Computers and Electronics' : 'Other'})
df_ind2=df_ind2.replace({'Consumer Goods and Services' : 'Other'})
df_ind2=df_ind2.replace({'Media, News and Publishing' : 'Other'})
df_ind2=df_ind2.replace({'Human Resources and Staffing' : 'Other'})
df_ind2=df_ind2.replace({'Telecommunications' : 'Other'})
df_ind2=df_ind2.replace({'Government' : 'Other'})
df_ind2=df_ind2.replace({'Pharmaceuticals' : 'Other'})
df_ind2=df_ind2.replace({'Energy and Utilities' : 'Other'})
df_ind2=df_ind2.replace({'Restaurants, Travel and Leisure' : 'Other'})
df_ind2=df_ind2.replace({'Restaurants, Travel and LeisureConsulting and Business Services' : 'Other'})
df_ind2=df_ind2.replace({'Auto' : 'Other'})
df_ind2=df_ind2.replace({'Transport and Freight' : 'Other'})
df_ind2=df_ind2.replace({'InsuranceHealth Care' : 'Other'})
df_ind2=df_ind2.replace({'Real Estate' : 'Other'})
df_ind2=df_ind2.replace({'Organization' : 'Other'})
df_ind2=df_ind2.replace({'Agriculture and Extraction' : 'Other'})
df_ind2=df_ind2.replace({'Food and Beverages' : 'Other'})
df_ind2=df_ind2.replace({'Construction' : 'Other'})
df_ind2=df_ind2.replace({'RetailConsumer Goods and Services' : 'Other'})
df_ind2=df_ind2.replace({'Real EstateReal Estate' : 'Other'})
df_ind2=df_ind2.replace({'Industrial ManufacturingConsumer Goods and Services' : 'Other'})
df_ind2=df_ind2.replace({'Industrial ManufacturingConstruction' : 'Other'})
df_ind2=df_ind2.replace({'Food and BeveragesConsulting and Business Services' : 'Other'})
df_ind2=df_ind2.replace({'Industrial ManufacturingAgriculture and Extraction' : 'Other'})
# sum(df_ind2['Company_Industry'].value_counts())
# 3,675 is count, none lost in process

In [10]:
df_ind2 = df_ind2['Company_Industry'].value_counts()
df_ind2
df_ind2_sum = pd.DataFrame ({"Industry": df_ind2})
df_ind2_sum

                                  Industry
Other                                 1368
Consulting and Business Services       712
Internet and Software                  620
Banks and Financial Services           455
Health Care                            306
Insurance                              214

In [11]:
# df_ind2.plot(kind = 'pie', autopct = '%1.1f%%')

In [12]:
# Make Dataset for just Industry = Consulting and Business Services
df1_CBS = df1[df1['Company_Industry']=='Consulting and Business Services']
df1_CBS

CBS_sum_Py = sum(df1_CBS['python'])
CBS_sum_Py
CBS_sum_SQL = sum(df1_CBS['sql'])
CBS_sum_ML = sum(df1_CBS['machine learning'])
CBS_sum_R = sum(df1_CBS['r'])
CBS_sum_Had = sum(df1_CBS['hadoop'])
CBS_sum_Tab = sum(df1_CBS['tableau'])
CBS_sum_SAS = sum(df1_CBS['sas'])
CBS_sum_Spark = sum(df1_CBS['spark'])
CBS_sum_Java = sum(df1_CBS['java'])
CBS_sum_Others = sum(df1_CBS['Others'])

# Make Dataset for just Industry = Consulting and Business Services
df1_CBS = df1[df1['Company_Industry']=='Consulting and Business Services']
df1_CBS
CBS_sum_Total = len(df1_CBS)

CBS_sum_Py = sum(df1_CBS['python'])
CBS_sum_Py
CBS_sum_SQL = sum(df1_CBS['sql'])
CBS_sum_ML = sum(df1_CBS['machine learning'])
CBS_sum_R = sum(df1_CBS['r'])
CBS_sum_Had = sum(df1_CBS['hadoop'])
CBS_sum_Tab = sum(df1_CBS['tableau'])
CBS_sum_SAS = sum(df1_CBS['sas'])
CBS_sum_Spark = sum(df1_CBS['spark'])
CBS_sum_Java = sum(df1_CBS['java'])
CBS_sum_Others = sum(df1_CBS['Others'])

# Make Dataset for just Industry = Internet and Software
df1_IS = df1[df1['Company_Industry']=='Internet and Software']
df1_IS
IS_sum_Total = len(df1_IS)

IS_sum_Py = sum(df1_IS['python'])
IS_sum_Py
IS_sum_SQL = sum(df1_IS['sql'])
IS_sum_ML = sum(df1_IS['machine learning'])
IS_sum_R = sum(df1_IS['r'])
IS_sum_Had = sum(df1_IS['hadoop'])
IS_sum_Tab = sum(df1_IS['tableau'])
IS_sum_SAS = sum(df1_IS['sas'])
IS_sum_Spark = sum(df1_IS['spark'])
IS_sum_Java = sum(df1_IS['java'])
IS_sum_Others = sum(df1_IS['Others'])

# Make Dataset for just Industry = Banks and Financial Services
df1_BFS = df1[df1['Company_Industry']=='Banks and Financial Services']
df1_BFS
BFS_sum_Total = len(df1_BFS)

BFS_sum_Py = sum(df1_BFS['python'])
BFS_sum_Py
BFS_sum_SQL = sum(df1_BFS['sql'])
BFS_sum_ML = sum(df1_BFS['machine learning'])
BFS_sum_R = sum(df1_BFS['r'])
BFS_sum_Had = sum(df1_BFS['hadoop'])
BFS_sum_Tab = sum(df1_BFS['tableau'])
BFS_sum_SAS = sum(df1_BFS['sas'])
BFS_sum_Spark = sum(df1_BFS['spark'])
BFS_sum_Java = sum(df1_BFS['java'])
BFS_sum_Others = sum(df1_BFS['Others'])

# Make Dataset for just Industry = Health Care
df1_HC = df1[df1['Company_Industry']== 'Health Care']
df1_HC
HC_sum_Total = len(df1_HC)

HC_sum_Py = sum(df1_HC['python'])
HC_sum_Py
HC_sum_SQL = sum(df1_HC['sql'])
HC_sum_ML = sum(df1_HC['machine learning'])
HC_sum_R = sum(df1_HC['r'])
HC_sum_Had = sum(df1_HC['hadoop'])
HC_sum_Tab = sum(df1_HC['tableau'])
HC_sum_SAS = sum(df1_HC['sas'])
HC_sum_Spark = sum(df1_HC['spark'])
HC_sum_Java = sum(df1_HC['java'])
HC_sum_Others = sum(df1_HC['Others'])

# Make Dataset for just Industry = Insurance
df1_I = df1[df1['Company_Industry']== 'Insurance']
df1_I
I_sum_Total = len(df1_I)

I_sum_Py = sum(df1_I['python'])
I_sum_Py
I_sum_SQL = sum(df1_I['sql'])
I_sum_ML = sum(df1_I['machine learning'])
I_sum_R = sum(df1_I['r'])
I_sum_Had = sum(df1_I['hadoop'])
I_sum_Tab = sum(df1_I['tableau'])
I_sum_SAS = sum(df1_I['sas'])
I_sum_Spark = sum(df1_I['spark'])
I_sum_Java = sum(df1_I['java'])
I_sum_Others = sum(df1_I['Others'])

In [13]:
Skill= ['python', 'sql','machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java', 'Others', 'Total']
CBS = [CBS_sum_Py, CBS_sum_SQL, CBS_sum_ML, CBS_sum_R, CBS_sum_Had, CBS_sum_Tab, CBS_sum_SAS, CBS_sum_Spark, CBS_sum_Java, CBS_sum_Others, CBS_sum_Total]
IS = [IS_sum_Py, IS_sum_SQL, IS_sum_ML, IS_sum_R, IS_sum_Had, IS_sum_Tab, IS_sum_SAS, IS_sum_Spark, IS_sum_Java, IS_sum_Others, IS_sum_Total]
BFS = [BFS_sum_Py, BFS_sum_SQL, BFS_sum_ML, BFS_sum_R, BFS_sum_Had, BFS_sum_Tab, BFS_sum_SAS, BFS_sum_Spark, BFS_sum_Java, BFS_sum_Others, BFS_sum_Total]
HC = [HC_sum_Py, HC_sum_SQL, HC_sum_ML, HC_sum_R, HC_sum_Had, HC_sum_Tab, HC_sum_SAS, HC_sum_Spark, HC_sum_Java, HC_sum_Others, HC_sum_Total]
I = [I_sum_Py, I_sum_SQL, I_sum_ML, I_sum_R, I_sum_Had, I_sum_Tab, I_sum_SAS, I_sum_Spark, I_sum_Java, I_sum_Others, I_sum_Total]

industry_sum = pd.DataFrame({
    'Skill':Skill,
    'Consulting and Business Services': CBS,
    'Internet and Software': IS,
    'Banks and Financial Services': BFS,
    'Health Care': HC,
    'Insurance': I
})
industry_sum

,Skill,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance
0,python,426.0,432.0,264.0,126.0,124.0
1,sql,377.0,411.0,310.0,204.0,143.0
2,machine learning,340.0,291.0,187.0,86.0,85.0
3,r,275.0,266.0,171.0,112.0,103.0
4,hadoop,270.0,242.0,165.0,56.0,93.0
5,tableau,200.0,105.0,105.0,82.0,49.0
6,sas,121.0,82.0,96.0,92.0,59.0
7,spark,235.0,212.0,160.0,51.0,35.0
8,java,182.0,215.0,163.0,63.0,71.0
9,Others,658.0,583.0,436.0,290.0,194.0
10,Total,712.0,620.0,455.0,306.0,214.0

In [14]:
# Make Dataset for just Industry = Consulting and Business Services
df1_CBS = df1[df1['Company_Industry']=='Consulting and Business Services']
df1_CBS
CBS_sum_Total = len(df1_CBS)

CBS_sum_Py_p = sum(df1_CBS['python'])/CBS_sum_Total
CBS_sum_Py_p
CBS_sum_SQL_p = sum(df1_CBS['sql'])/CBS_sum_Total
CBS_sum_ML_p = sum(df1_CBS['machine learning'])/CBS_sum_Total
CBS_sum_R_p = sum(df1_CBS['r'])/CBS_sum_Total
CBS_sum_Had_p = sum(df1_CBS['hadoop'])/CBS_sum_Total
CBS_sum_Tab_p = sum(df1_CBS['tableau'])/CBS_sum_Total
CBS_sum_SAS_p = sum(df1_CBS['sas'])/CBS_sum_Total
CBS_sum_Spark_p = sum(df1_CBS['spark'])/CBS_sum_Total
CBS_sum_Java_p = sum(df1_CBS['java'])/CBS_sum_Total
CBS_sum_Others_p = sum(df1_CBS['Others'])/CBS_sum_Total

# Make Dataset for just Industry = Internet and Software
df1_IS = df1[df1['Company_Industry']=='Internet and Software']
df1_IS
IS_sum_Total = len(df1_IS)

IS_sum_Py_p = sum(df1_IS['python'])/IS_sum_Total
IS_sum_Py_p
IS_sum_SQL_p = sum(df1_IS['sql'])/IS_sum_Total
IS_sum_ML_p = sum(df1_IS['machine learning'])/IS_sum_Total
IS_sum_R_p = sum(df1_IS['r'])/IS_sum_Total
IS_sum_Had_p = sum(df1_IS['hadoop'])/IS_sum_Total
IS_sum_Tab_p = sum(df1_IS['tableau'])/IS_sum_Total
IS_sum_SAS_p = sum(df1_IS['sas'])/IS_sum_Total
IS_sum_Spark_p = sum(df1_IS['spark'])/IS_sum_Total
IS_sum_Java_p = sum(df1_IS['java'])/IS_sum_Total
IS_sum_Others_p = sum(df1_IS['Others'])/IS_sum_Total

# Make Dataset for just Industry = Banks and Financial Services
df1_BFS = df1[df1['Company_Industry']=='Banks and Financial Services']
df1_BFS
BFS_sum_Total = len(df1_BFS)

BFS_sum_Py_p = sum(df1_BFS['python'])/BFS_sum_Total
BFS_sum_Py_p
BFS_sum_SQL_p = sum(df1_BFS['sql'])/BFS_sum_Total
BFS_sum_ML_p = sum(df1_BFS['machine learning'])/BFS_sum_Total
BFS_sum_R_p = sum(df1_BFS['r'])/BFS_sum_Total
BFS_sum_Had_p = sum(df1_BFS['hadoop'])/BFS_sum_Total
BFS_sum_Tab_p = sum(df1_BFS['tableau'])/BFS_sum_Total
BFS_sum_SAS_p = sum(df1_BFS['sas'])/BFS_sum_Total
BFS_sum_Spark_p = sum(df1_BFS['spark'])/BFS_sum_Total
BFS_sum_Java_p = sum(df1_BFS['java'])/BFS_sum_Total
BFS_sum_Others_p = sum(df1_BFS['Others'])/BFS_sum_Total

# Make Dataset for just Industry = Health Care
df1_HC = df1[df1['Company_Industry']== 'Health Care']
df1_HC
HC_sum_Total = len(df1_HC)

HC_sum_Py_p = sum(df1_HC['python'])/HC_sum_Total
HC_sum_Py_p
HC_sum_SQL_p = sum(df1_HC['sql'])/HC_sum_Total
HC_sum_ML_p = sum(df1_HC['machine learning'])/HC_sum_Total
HC_sum_R_p = sum(df1_HC['r'])/HC_sum_Total
HC_sum_Had_p = sum(df1_HC['hadoop'])/HC_sum_Total
HC_sum_Tab_p = sum(df1_HC['tableau'])/HC_sum_Total
HC_sum_SAS_p = sum(df1_HC['sas'])/HC_sum_Total
HC_sum_Spark_p = sum(df1_HC['spark'])/HC_sum_Total
HC_sum_Java_p = sum(df1_HC['java'])/HC_sum_Total
HC_sum_Others_p = sum(df1_HC['Others'])/HC_sum_Total

# Make Dataset for just Industry = Insurance
df1_I = df1[df1['Company_Industry']== 'Insurance']
df1_I
I_sum_Total = len(df1_I)

I_sum_Py_p = sum(df1_I['python'])/I_sum_Total
I_sum_Py_p
I_sum_SQL_p = sum(df1_I['sql'])/I_sum_Total
I_sum_ML_p = sum(df1_I['machine learning'])/I_sum_Total
I_sum_R_p = sum(df1_I['r'])/I_sum_Total
I_sum_Had_p = sum(df1_I['hadoop'])/I_sum_Total
I_sum_Tab_p = sum(df1_I['tableau'])/I_sum_Total
I_sum_SAS_p = sum(df1_I['sas'])/I_sum_Total
I_sum_Spark_p = sum(df1_I['spark'])/I_sum_Total
I_sum_Java_p = sum(df1_I['java'])/I_sum_Total
I_sum_Others_p = sum(df1_I['Others'])/I_sum_Total

In [18]:
############### Proportions, not Percentages. With Others and Total


Skill= ['python', 'sql','machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java', 'Others', 'Total']
CBS = ["{:.2%}".format(CBS_sum_Py_p), 
       "{:.2%}".format(CBS_sum_SQL_p), 
       "{:.2%}".format(CBS_sum_ML_p), 
       "{:.2%}".format(CBS_sum_R_p), 
       "{:.2%}".format(CBS_sum_Had_p), 
       "{:.2%}".format(CBS_sum_Tab_p), 
       "{:.2%}".format(CBS_sum_SAS_p), 
       "{:.2%}".format(CBS_sum_Spark_p), 
       "{:.2%}".format(CBS_sum_Java_p), 
       "{:.2%}".format(CBS_sum_Others_p), 
       CBS_sum_Total]
IS = ["{:.2%}".format(IS_sum_Py_p), 
      "{:.2%}".format(IS_sum_SQL_p), 
      "{:.2%}".format(IS_sum_ML_p), 
      "{:.2%}".format(IS_sum_R_p), 
      "{:.2%}".format(IS_sum_Had_p), 
      "{:.2%}".format(IS_sum_Tab_p), 
      "{:.2%}".format(IS_sum_SAS_p), 
      "{:.2%}".format(IS_sum_Spark_p), 
      "{:.2%}".format(IS_sum_Java_p), 
      "{:.2%}".format(IS_sum_Others_p), 
      IS_sum_Total]
BFS = ["{:.2%}".format(BFS_sum_Py_p), 
       "{:.2%}".format(BFS_sum_SQL_p), 
       "{:.2%}".format(BFS_sum_ML_p), 
       "{:.2%}".format(BFS_sum_R_p), 
       "{:.2%}".format(BFS_sum_Had_p), 
       "{:.2%}".format(BFS_sum_Tab_p), 
       "{:.2%}".format(BFS_sum_SAS_p), 
       "{:.2%}".format(BFS_sum_Spark_p), 
       "{:.2%}".format(BFS_sum_Java_p), 
       "{:.2%}".format(BFS_sum_Others_p), 
       BFS_sum_Total]
HC = ["{:.2%}".format(HC_sum_Py_p), 
      "{:.2%}".format(HC_sum_SQL_p), 
      "{:.2%}".format(HC_sum_ML_p), 
      "{:.2%}".format(HC_sum_R_p), 
      "{:.2%}".format(HC_sum_Had_p), 
      "{:.2%}".format(HC_sum_Tab_p), 
      "{:.2%}".format(HC_sum_SAS_p), 
      "{:.2%}".format(HC_sum_Spark_p), 
      "{:.2%}".format(HC_sum_Java_p), 
      "{:.2%}".format(HC_sum_Others_p), 
      HC_sum_Total]
I = ["{:.2%}".format(I_sum_Py_p),
     "{:.2%}".format(I_sum_SQL_p),
     "{:.2%}".format(I_sum_ML_p),
     "{:.2%}".format(I_sum_R_p),
     "{:.2%}".format(I_sum_Had_p),
     "{:.2%}".format(I_sum_Tab_p),
     "{:.2%}".format(I_sum_SAS_p),
     "{:.2%}".format(I_sum_Spark_p),
     "{:.2%}".format(I_sum_Java_p),
     "{:.2%}".format(I_sum_Others_p),
     I_sum_Total]

industry_sum_p = pd.DataFrame({
    'Skill':Skill,
    'Consulting and Business Services': CBS,
    'Internet and Software': IS,
    'Banks and Financial Services': BFS,
})
industry_sum_p

,Skill,Consulting and Business Services,Internet and Software,Banks and Financial Services
0,python,59.83%,69.68%,58.02%
1,sql,52.95%,66.29%,68.13%
2,machine learning,47.75%,46.94%,41.10%
3,r,38.62%,42.90%,37.58%
4,hadoop,37.92%,39.03%,36.26%
5,tableau,28.09%,16.94%,23.08%
6,sas,16.99%,13.23%,21.10%
7,spark,33.01%,34.19%,35.16%
8,java,25.56%,34.68%,35.82%
9,Others,92.42%,94.03%,95.82%
10,Total,712,620,455

In [16]:
############### Proportions, not Percentages. With Others

Skill= ['python', 'sql','machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java', 'Others']
CBS = [CBS_sum_Py_p, 
       CBS_sum_SQL_p, 
       CBS_sum_ML_p, 
       CBS_sum_R_p, 
       CBS_sum_Had_p, 
       CBS_sum_Tab_p, 
       CBS_sum_SAS_p, 
       CBS_sum_Spark_p, 
       CBS_sum_Java_p, 
       CBS_sum_Others_p]
IS = [IS_sum_Py_p, 
      IS_sum_SQL_p, 
      IS_sum_ML_p, 
      IS_sum_R_p, 
      IS_sum_Had_p, 
      IS_sum_Tab_p, 
      IS_sum_SAS_p, 
      IS_sum_Spark_p, 
      IS_sum_Java_p, 
      IS_sum_Others_p]
BFS = [BFS_sum_Py_p, 
       BFS_sum_SQL_p, 
       BFS_sum_ML_p, 
       BFS_sum_R_p, 
       BFS_sum_Had_p, 
       BFS_sum_Tab_p, 
       BFS_sum_SAS_p, 
       BFS_sum_Spark_p, 
       BFS_sum_Java_p, 
       BFS_sum_Others_p]
HC = [HC_sum_Py_p, 
      HC_sum_SQL_p, 
      HC_sum_ML_p, 
      HC_sum_R_p, 
      HC_sum_Had_p, 
      HC_sum_Tab_p, 
      HC_sum_SAS_p, 
      HC_sum_Spark_p, 
      HC_sum_Java_p, 
      HC_sum_Others_p]
I = [I_sum_Py_p,
     I_sum_SQL_p,
     I_sum_ML_p,
     I_sum_R_p,
     I_sum_Had_p,
     I_sum_Tab_p,
     I_sum_SAS_p,
     I_sum_Spark_p,
     I_sum_Java_p,
     I_sum_Others_p]

industry_sum_no_p = pd.DataFrame({
    'Skill':Skill,
    'Consulting and Business Services': CBS,
    'Internet and Software': IS,
    'Banks and Financial Services': BFS,
    'Health Care': HC,
    'Insurance': I
})
industry_sum_no_p

,Skill,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance
0,python,0.598315,0.696774,0.580220,0.411765,0.579439
1,sql,0.529494,0.662903,0.681319,0.666667,0.668224
2,machine learning,0.477528,0.469355,0.410989,0.281046,0.397196
3,r,0.386236,0.429032,0.375824,0.366013,0.481308
4,hadoop,0.379213,0.390323,0.362637,0.183007,0.434579
5,tableau,0.280899,0.169355,0.230769,0.267974,0.228972
6,sas,0.169944,0.132258,0.210989,0.300654,0.275701
7,spark,0.330056,0.341935,0.351648,0.166667,0.163551
8,java,0.255618,0.346774,0.358242,0.205882,0.331776
9,Others,0.924157,0.940323,0.958242,0.947712,0.906542

In [ ]:

plt.clf()
CBSbar = industry_sum_no_p.loc[:, ['Skill', 'Consulting and Business Services']]
CBSbar = CBSbar.set_index(['Skill'])
CBSbar 

x_axis = CBSbar['Consulting and Business Services']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Consulting and Business Services")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")
plt.tight_layout()
plt.show()

In [ ]:
plt.clf()
ISbar = industry_sum_no_p.loc[:, ['Skill', 'Internet and Software']]
ISbar = ISbar.set_index(['Skill'])
ISbar 

x_axis = ISbar['Internet and Software']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Internet and Software")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

In [ ]:
plt.clf()
BFSbar = industry_sum_no_p.loc[:, ['Skill', 'Banks and Financial Services']]
BFSbar = BFSbar.set_index(['Skill'])
BFSbar 

x_axis = BFSbar['Banks and Financial Services']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Banks and Financial Services")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

In [ ]:
HCbar = industry_sum_no_p.loc[:, ['Skill', 'Health Care']]
HCbar = HCbar.set_index(['Skill'])
HCbar 

x_axis = HCbar['Health Care']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Health Care")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

In [ ]:
Ibar = industry_sum_no_p.loc[:, ['Skill', 'Insurance']]
Ibar = Ibar.set_index(['Skill'])
Ibar 

x_axis = Ibar['Insurance']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Insurance")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

In [ ]:
############### No Others
Skill= ['python', 'sql','machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java']
CBS = [CBS_sum_Py_p, 
       CBS_sum_SQL_p, 
       CBS_sum_ML_p, 
       CBS_sum_R_p, 
       CBS_sum_Had_p, 
       CBS_sum_Tab_p, 
       CBS_sum_SAS_p, 
       CBS_sum_Spark_p, 
       CBS_sum_Java_p]
IS = [IS_sum_Py_p, 
      IS_sum_SQL_p, 
      IS_sum_ML_p, 
      IS_sum_R_p, 
      IS_sum_Had_p, 
      IS_sum_Tab_p, 
      IS_sum_SAS_p, 
      IS_sum_Spark_p, 
      IS_sum_Java_p]
BFS = [BFS_sum_Py_p, 
       BFS_sum_SQL_p, 
       BFS_sum_ML_p, 
       BFS_sum_R_p, 
       BFS_sum_Had_p, 
       BFS_sum_Tab_p, 
       BFS_sum_SAS_p, 
       BFS_sum_Spark_p, 
       BFS_sum_Java_p]
HC = [HC_sum_Py_p, 
      HC_sum_SQL_p, 
      HC_sum_ML_p, 
      HC_sum_R_p, 
      HC_sum_Had_p, 
      HC_sum_Tab_p, 
      HC_sum_SAS_p, 
      HC_sum_Spark_p, 
      HC_sum_Java_p]
I = [I_sum_Py_p,
     I_sum_SQL_p,
     I_sum_ML_p,
     I_sum_R_p,
     I_sum_Had_p,
     I_sum_Tab_p,
     I_sum_SAS_p,
     I_sum_Spark_p,
     I_sum_Java_p]

industry_sum_no_p_no_o = pd.DataFrame({
    'Skill':Skill,
    'Consulting and Business Services': CBS,
    'Internet and Software': IS,
    'Banks and Financial Services': BFS,
    'Health Care': HC,
    'Insurance': I
})
industry_sum_no_p_no_o

In [ ]:
CBSbar = industry_sum_no_p_no_o.loc[:, ['Skill', 'Consulting and Business Services']]
CBSbar = CBSbar.set_index(['Skill'])
CBSbar 

x_axis = CBSbar['Consulting and Business Services']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Consulting and Business Services")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

# Save Plot
plt.savefig('../04._Output/CBSbar_no_others.png')

In [ ]:
ISbar = industry_sum_no_p_no_o.loc[:, ['Skill', 'Internet and Software']]
ISbar = ISbar.set_index(['Skill'])
ISbar 

x_axis = ISbar['Internet and Software']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Internet and Software")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

# Save Plot
plt.savefig('../04._Output/ISbar_no_others.png')

In [ ]:
BFSbar = industry_sum_no_p_no_o.loc[:, ['Skill', 'Banks and Financial Services']]
BFSbar = BFSbar.set_index(['Skill'])
BFSbar 

x_axis = BFSbar['Banks and Financial Services']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Banks and Financial Services")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")


# Save Plot
plt.savefig('../04._Output/BFSbar_no_others.png')

In [ ]:
HCbar = industry_sum_no_p_no_o.loc[:, ['Skill', 'Health Care']]
HCbar = HCbar.set_index(['Skill'])
HCbar 

x_axis = HCbar['Health Care']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Health Care")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

# Save Plot
plt.savefig('../04._Output/HCbar_no_others.png')

In [ ]:
Ibar = industry_sum_no_p_no_o.loc[:, ['Skill', 'Insurance']]
Ibar = Ibar.set_index(['Skill'])
Ibar 

x_axis = Ibar['Insurance']
x_axis.plot(kind="bar",  figsize=(6,3), align="center", width=0.5)

# Set a title and labels for the chart
plt.title("Top Skills for Industry: Insurance")
plt.xlabel("Skill")
plt.ylabel("Presence of Skill in Job Description\n (Percentage)")

# Save Plot
plt.savefig('../04._Output/Ibar_no_others.png')

In [ ]:
merge_df

In [ ]:
df_cram = df1.loc[:,['>160000', \
                     'python']]
df_cram
# , 
def cramers_V(var1,var2):
  # Cross table building
  crosstab =np.array(pd.crosstab(var1,var2, rownames=None, colnames=None)) 
  # Keeping of the test statistic of the Chi2 test
  stat = chi2_contingency(crosstab)[0] 
  obs = np.sum(crosstab) # Number of observations
  # Take the minimum value between the columns and the rows of the cross table
  mini = min(crosstab.shape)-1 
  return (stat/(obs*mini))

rows= []

for var1 in df_cram:
  col = []
  for var2 in df_cram :
    cramers =cramers_V(df_cram[var1], df_cram[var2]) # Cramer's V test
    col.append(round(cramers,2)) # Keeping of the rounded value of the Cramer's V  
  rows.append(col)
  
# cramers_results = np.array(rows)
# df_cram_sum = pd.DataFrame(cramers_results, columns = df_cram.columns, index =df_cram.columns)
# df_cram_sum

In [ ]:
df_cram_1 = df1.loc[:,['<80000', '80000-99999','100000-119999',\
                     '120000-139999','140000-159999','>160000', \
                     'python', 'sql', 'machine learning', 'r', \
                      'hadoop', 'spark', 'java', 'tableau', \
                       'datamining', 'hive', 'sas', 'bigdata',\
                       'aws', 'scala', 'nosql', 'c/c++'
                      ]]
df_cram_1

def cramers_V(var1,var2):
  # Cross table building
  crosstab =np.array(pd.crosstab(var1,var2, rownames=None, colnames=None)) 
  # Keeping of the test statistic of the Chi2 test
  stat = chi2_contingency(crosstab)[0] 
  obs = np.sum(crosstab) # Number of observations
  # Take the minimum value between the columns and the rows of the cross table
  mini = min(crosstab.shape)-1 
  return (stat/(obs*mini))

rows= []

for var1 in df_cram_1:
  col = []
  for var2 in df_cram_1 :
    cramers =cramers_V(df_cram_1[var1], df_cram_1[var2]) # Cramer's V test
    col.append(round(cramers,2)) # Keeping of the rounded value of the Cramer's V  
  rows.append(col)
  
cramers_results_1 = np.array(rows)
df_cram_sum_1 = pd.DataFrame(cramers_results_1, columns = df_cram_1.columns, \
                           index =df_cram_1.columns)
df_cram_sum_1

In [ ]:
mask = np.zeros_like(df_cram_sum_1, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True


with sns.axes_style("white"):
  ax = sns.heatmap(df_cram_sum_1, mask=mask,vmin=0., vmax=1, square=True)

# plt.show()

In [ ]:
# ####### Regressions
# def lin_reg_plot(x_values,y_values, text_coordinates):
#     (slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
#     regress_values = x_values * slope + intercept  
#     line_eq = 'y = ' + str(round(slope,2)) + 'x + ' + str(round(intercept,2))

#     # New Scatter plot with regression line
#     plt.scatter(x_values,y_values,edgecolors='black')
#     plt.plot(x_values,regress_values,'r-')
#     plt.annotate(line_eq,text_coordinates,fontsize=14,color="red")
    
#     # Add R-squared annotation
#     print(f'The r-squared is: {rvalue}')
#     print(line_eq)

In [ ]:
# x_values = df_cram_1['python']
# y_values = df_cram_1['>160000']

# lin_reg_plot(x_values,y_values, (.2, .2))

In [ ]:
X = df1[[
    'Internet and Software', \
    'Banks and Financial Services', \
    'Health Care', \
    'Insurance',
    'CA', \
    'NY', \
    'MA', \
    'VA', \
    'DC', \
    'Consulting and Business Services', \
    'python', \
    'sql', \
    'machine learning', \
    'r', \
    'hadoop', \
    'spark', \
    'java', \
    'tableau', \
    'datamining', \
    'hive', 'sas', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'nosql',  \
    'c/c++',  \
    'naturallanguageprocessing', \
    'oracle', \
    'datawarehouse', \
    'linux', \
    'ai', \
    'microsoftsqlserver', \
    'tensorflow', \
    'kafka', \
    'dataanalysis', \
    'azure', \
    'matlab', \
    'microsoftoffice', \
    'scripting', \
    'pig', \
    'git', \
    'microsoftpowerpoint', \
    'excel', \
    'designexperience', \
    'javascript', \
    'hbase', \
    'cassandra', \
    'postgresql', \
    'mysql', \
    'perl', \
    'spss', \
    'softwaredevelopment', \
    'shellscripting', \
    'datascience', \
    'docker', \
    'mongodb', \
    '.net', \
    'projectmanagement', \
    'businessintelligence', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Salary_Index']
 
# with sklearn
# regr = linear_model.LinearRegression()
# regr.fit(X, Y)


# # with statsmodels
X = sm.add_constant(X) # adding a constant
# X = sm.has_constant(True) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

In [ ]:
# '>160000', 'Consulting and Business Services' - Short
X = df1[[
    'Consulting and Business Services', \
    'python', \
    'sql', \
    'machine learning', \
    'hadoop', \
    'spark', \
    'tableau', \
    'datamining', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'c/c++',  \
    'linux', \
    'tensorflow', \
    'kafka', \
    'azure', \
    'pig', \
    'git', \
    'softwaredevelopment', \
    'docker', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['>160000']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
# X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

In [ ]:
# 'Sal_Ind_Cat4-5-6', 'Consulting and Business Services' - Short
X = df1[[
    'CA', \
    'NY', \
    'MA', \
    'VA', \
    'DC', \
    'Consulting and Business Services', \
    'python', \
    'sql', \
    'machine learning', \
    'hadoop', \
    'spark', \
    'tableau', \
    'datamining', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'c/c++',  \
    'linux', \
    'tensorflow', \
    'kafka', \
    'azure', \
    'pig', \
    'git', \
    'softwaredevelopment', \
    'docker', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Sal_Ind_Cat4-5-6']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

In [ ]:
# 'Sal_Ind_Cat4-5-6', 'Consulting and Business Services' - Short
X = df1[[
    'python'
       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Salary_Index']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

In [ ]:
# 'Sal_Ind_Cat4-5-6',     
# 'Consulting and Business Services', \
# 'Internet and Software', \
#     'Banks and Financial Services', \
#     'Health Care', \
#     'Insurance', 
# - Short

X = df1[[
    'Consulting and Business Services', \
    'Internet and Software', \
    'Banks and Financial Services', \
    'Health Care', \
    'Insurance',
    'python', \
    'sql', \
    'machine learning', \
    'hadoop', \
    'spark', \
    'tableau', \
    'datamining', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'c/c++',  \
    'linux', \
    'tensorflow', \
    'kafka', \
    'azure', \
    'pig', \
    'git', \
    'softwaredevelopment', \
    'docker', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Sal_Ind_Cat4-5-6']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

In [ ]:
# 'Sal_Ind_Cat4-5-6',     
# 'Consulting and Business Services', \
# 'Internet and Software', \
#     'Banks and Financial Services', \
#     'Health Care', \
#     'Insurance', 
# - Short

X = df1[[
    'Consulting and Business Services', \
    'Internet and Software', \
    'Banks and Financial Services', \
    'Insurance',
    'python', \
    'sql', \
    'machine learning', \
    'hadoop', \
    'spark', \
    'tableau', \
    'datamining', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'c/c++',  \
    'linux', \
    'azure', \
    'pig', \
    'softwaredevelopment', \
    'docker', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Sal_Ind_Cat4-5-6']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

In [ ]:
# 'Sal_Ind_Cat4-5-6',     
# 'Consulting and Business Services', \
# 'Internet and Software', \
#     'Banks and Financial Services', \
#     'Health Care', \
#     'Insurance', 
# - Long

X = df1[[
    'Consulting and Business Services', \
    'Internet and Software', \
    'Banks and Financial Services', \
    'Health Care', \
    'Insurance',
    'python', \
    'sql', \
    'machine learning', \
    'r', \
    'hadoop', \
    'spark', \
    'java', \
    'tableau', \
    'datamining', \
    'hive', 'sas', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'nosql',  \
    'c/c++',  \
    'naturallanguageprocessing', \
    'oracle', \
    'datawarehouse', \
    'linux', \
    'ai', \
    'microsoftsqlserver', \
    'tensorflow', \
    'kafka', \
    'dataanalysis', \
    'azure', \
    'matlab', \
    'microsoftoffice', \
    'scripting', \
    'pig', \
    'git', \
    'microsoftpowerpoint', \
    'excel', \
    'designexperience', \
    'javascript', \
    'hbase', \
    'cassandra', \
    'postgresql', \
    'mysql', \
    'perl', \
    'spss', \
    'softwaredevelopment', \
    'shellscripting', \
    'datascience', \
    'docker', \
    'mongodb', \
    '.net', \
    'projectmanagement', \
    'businessintelligence', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Sal_Ind_Cat4-5-6']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

In [ ]:
# 'Sal_Ind_Cat4-5-6',     
# 'Consulting and Business Services', \
# 'Internet and Software', \
#     'Banks and Financial Services', \
#     'Health Care', \
#     'Insurance', 
# - Long

X = df1[[
    'Consulting and Business Services', \
    'Internet and Software', \
    'Banks and Financial Services', \
    'Health Care', \
    'Insurance',
    'python', \
    'sql', \
    'machine learning', \
    'r', \
    'hadoop', \
    'spark', \
    'java', \
    'tableau', \
    'datamining', \
    'hive', 'sas', \
    'bigdata',\
    'aws',  \
    'scala',  \
    'nosql',  \
    'c/c++',  \
    'naturallanguageprocessing', \
    'oracle', \
    'datawarehouse', \
    'linux', \
    'ai', \
    'microsoftsqlserver', \
    'tensorflow', \
    'kafka', \
    'dataanalysis', \
    'azure', \
    'matlab', \
    'microsoftoffice', \
    'scripting', \
    'pig', \
    'git', \
    'microsoftpowerpoint', \
    'excel', \
    'designexperience', \
    'javascript', \
    'hbase', \
    'cassandra', \
    'postgresql', \
    'mysql', \
    'perl', \
    'spss', \
    'softwaredevelopment', \
    'shellscripting', \
    'datascience', \
    'docker', \
    'mongodb', \
    '.net', \
    'projectmanagement', \
    'businessintelligence', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Sal_Ind_Cat4-5-6']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

In [ ]:
# 'Sal_Ind_Cat4-5-6',     
# 'Consulting and Business Services', \
# 'Internet and Software', \
#     'Banks and Financial Services', \
#     'Health Care', \
#     'Insurance', 
# - Long

X = df1[[
    'Consulting and Business Services', \
    'Internet and Software', \
    'Banks and Financial Services', \
    'Health Care', \
    'Insurance',
    'CA',\
    'NY', \
    'VA', \
    'MA', \
    'DC', \
    'WA', \
    'python', \
    'sql', \
    'machine learning', \
    'hadoop', \
    'spark', \
    'java', \
    'datamining', \
    'aws',  \
    'scala',  \
    'nosql',  \
    'naturallanguageprocessing', \
    'oracle', \
    'datawarehouse', \
    'ai', \
    'microsoftsqlserver', \
    'kafka', \
    'dataanalysis', \
    'azure', \
    'matlab', \
    'microsoftoffice', \
    'pig', \
    'microsoftpowerpoint', \
    'designexperience', \
    'cassandra', \
    'perl', \
    'softwaredevelopment', \
    'projectmanagement', \
    'businessintelligence', \
    's3'       
    ]] 

# here we have 2 variables for multiple regression. 
# If you just want to use one variable for simple linear regression, 
# then use X = df['Interest_Rate'] for example.Alternatively, you 
# may add additional variables within the brackets
Y = df1['Salary_Index']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)


# # with statsmodels
X = sm.add_constant(X) # adding a constant

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

model = sm.OLS(Y, X).fit()
print_model = model.summary()
print(print_model)

In [ ]:
X = df1[[
    'Consulting and Business Services', \
    'Internet and Software', \
    'Banks and Financial Services', \
    'Health Care', \
    'Insurance',
    'python', \
    'sql', \
    'machine learning', \
    'hadoop', \
    'spark', \
    'java', \
    'datamining', \
    'aws',  \
    'scala',  \
    'nosql',  \
    'naturallanguageprocessing', \
    'oracle', \
    'datawarehouse', \
    'ai', \
    'microsoftsqlserver', \
    'kafka', \
    'dataanalysis', \
    'azure', \
    'matlab', \
    'microsoftoffice', \
    'pig', \
    'microsoftpowerpoint', \
    'designexperience', \
    'cassandra', \
    'perl', \
    'softwaredevelopment', \
    'projectmanagement', \
    'businessintelligence', \
    's3'       
    ]] 
Y = df1['Salary_Index']

# from sklearn.linear_model import LinearRegression 
# lin = LinearRegression() 
  
# lin.fit(X, Y) 

# regr = linear_model.LinearRegression()
# regr.fit(X, Y)

# return(r2)

model = LinearRegression().fit(X, Y)


r_sq = model.score(X, Y)
print('coefficient of determination:', r_sq)

In [ ]:
# from sklearn.preprocessing import PolynomialFeatures 
  
# poly = PolynomialFeatures(degree = 34) 
# X_poly = poly.fit_transform(X) 
  
# poly.fit(X_poly, y) 
# lin2 = LinearRegression() 
# lin2.fit(X_poly, Y)

In [ ]:
# def cramers_V(var1,var2):
#   # Cross table building
#   crosstab =np.array(pd.crosstab(var1,var2, rownames=None, colnames=None)) 
#   # Keeping of the test statistic of the Chi2 test
#   stat = chi2_contingency(crosstab)[0] 
#   obs = np.sum(crosstab) # Number of observations
#   # Take the minimum value between the columns and the rows of the cross table
#   mini = min(crosstab.shape)-1 
#   return (stat/(obs*mini))

# rows= []

# for var1 in data_encoded:
#   col = []
#   for var2 in data_encoded :
#     cramers =cramers_V(data_encoded[var1], data_encoded[var2]) # Cramer's V test
#     col.append(round(cramers,2)) # Keeping of the rounded value of the Cramer's V  
#   rows.append(col)
  
# cramers_results = np.array(rows)
# df = pd.DataFrame(cramers_results, columns = data_encoded.columns, index =data_encoded.columns)

In [ ]:
# def cramers_v(x, y):
#     confusion_matrix = pd.crosstab(x,y)
#     chi2 = ss.chi2_contingency(confusion_matrix)[0]
#     n = confusion_matrix.sum().sum()
#     phi2 = chi2/n
#     r,k = confusion_matrix.shape
#     phi2corr = max(0, phi2-((k-1)*(r-1))/(n-1))
#     rcorr = r-((r-1)**2)/(n-1)
#     kcorr = k-((k-1)**2)/(n-1)
#     return np.sqrt(phi2corr/min((kcorr-1),(rcorr-1)))

# def correlation_ratio(categories, measurements):
#     fcat, _ = pd.factorize(categories)
#     cat_num = np.max(fcat)+1
#     y_avg_array = np.zeros(cat_num)
#     n_array = np.zeros(cat_num)
#     for i in range(0,cat_num):
#         cat_measures = measurements[np.argwhere(fcat == i).flatten()]
#         n_array[i] = len(cat_measures)
#         y_avg_array[i] = np.average(cat_measures)
#     y_total_avg = np.sum(np.multiply(y_avg_array,n_array))/np.sum(n_array)
#     numerator = np.sum(np.multiply(n_array,np.power(np.subtract(y_avg_array,y_total_avg),2)))
#     denominator = np.sum(np.power(np.subtract(measurements,y_total_avg),2))
#     if numerator == 0:
#         eta = 0.0
#     else:
#         eta = np.sqrt(numerator/denominator)
#     return eta

In [ ]:
# Stock_Market = {'Year': [2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016],
#                 'Month': [12, 11,10,9,8,7,6,5,4,3,2,1,12,11,10,9,8,7,6,5,4,3,2,1],
#                 'Interest_Rate': [2.75,2.5,2.5,2.5,2.5,2.5,2.5,2.25,2.25,2.25,2,2,2,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75,1.75],
#                 'Unemployment_Rate': [5.3,5.3,5.3,5.3,5.4,5.6,5.5,5.5,5.5,5.6,5.7,5.9,6,5.9,5.8,6.1,6.2,6.1,6.1,6.1,5.9,6.2,6.2,6.1],
#                 'Stock_Index_Price': [1464,1394,1357,1293,1256,1254,1234,1195,1159,1167,1130,1075,1047,965,943,958,971,949,884,866,876,822,704,719]        
#                 }

# df = pd.DataFrame(Stock_Market,columns=['Year','Month','Interest_Rate','Unemployment_Rate','Stock_Index_Price'])

# X = df[['Interest_Rate','Unemployment_Rate']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
# Y = df['Stock_Index_Price']
 
# # with sklearn
# regr = linear_model.LinearRegression()
# regr.fit(X, Y)

# print('Intercept: \n', regr.intercept_)
# print('Coefficients: \n', regr.coef_)

# # prediction with sklearn
# New_Interest_Rate = 2.75
# New_Unemployment_Rate = 5.3
# print ('Predicted Stock Index Price: \n', regr.predict([[New_Interest_Rate ,New_Unemployment_Rate]]))

# # with statsmodels
# X = sm.add_constant(X) # adding a constant
 
# model = sm.OLS(Y, X).fit()
# predictions = model.predict(X) 
 
# print_model = model.summary()
# print(print_model)

In [ ]:
############ mcnemar test
# dfx = pd.DataFrame(np.random.randint(2, size= (90, 2)),
#                   columns= ['time1', 'time2'])

# crosstab, res = researchpy.crosstab(dfx['time1'], dfx['time2'], test= "mcnemar")

# crosstab
# res

#############
# crosstab1, res1 = researchpy.crosstab(df_cram_1['python'],df_cram_1['>160000'],  test= "mcnemar")

# crosstab1
# res1

In [ ]:
#######
# replacement_list = ['Insurance',
# 'Health Care',
# 'Media, News and Publishing',
# 'Telecommunications',
# 'Industrial Manufacturing',
# 'Pharmaceuticals',
# 'Retail',
# 'Aerospace and Defense',
# 'Auto',
# 'Consumer Goods and Services',
# 'Real Estate',
# 'Construction',
# 'Energy and Utilities',
# 'Restaurants, Travel and LeisureConsulting and Business Services',
# 'Transport and Freight']

# for i in replacement_list:
#     df_ind1=df_ind.replace({i : 'Other'})
# df_ind1

# for index, row in df_ind1.iterrows():
#     row['1'] = "I am working!"


# for i, row in df_ind.iterrows():
#     df_ind1=df_ind.loc[i,'price_new']  = i 

# for i in replacement_list:
#     df_ind1=df_ind.replace(i : 'Other')
# df_ind1

#######
# Salary_Index = df.iloc[:,4]
# No_of_Skills = df.iloc[:,7]
# correlation = st.pearsonr(Salary_Index,No_of_Skills)

In [ ]:
output_data_v1 = merge_df.to_csv(r'../04._Output/output_data_v1.csv')